<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Amir Dresler</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>hFfaYzmYSuVQJbY1DPoSCIAttREd6EFRhyLPcbst17IQV7WSh2DA10Lq4g4XcOmq</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.41.3">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>CI_IPP_developers</string>
        <string>authenticated</string>
        <string>Password Manager Apply</string>
        <string># All ISRAEL</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>ActionBase Users</string>
        <string>Mailvision Branch Office Users</string>
        <string>Vopp</string>
        <string>Linuxusers</string>
        <string>AudioCodes_VPN</string>
        <string># CMBU-R&amp;D</string>
        <string>NewUser_Israel-Lod</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>Sp365-rdipp-modify</string>
        <string># All Airport City</string>
        <string>Citrix_Allow_Project</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
      </roles>
      <timestamp>1500547704484</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.16">
      <emailAddress>Amir.Dresler@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>