<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>run every night after the armRunRouterTestModule job @ ~6:15 AM&#xd;
steps:&#xd;
1. checkout arm_topology_test repo&#xd;
2. run sql init&#xd;
4. run maven test&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>true</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs>armBuildVMs
armNightSanity
armRunRouterTestModule
armReleaseSanity

</blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://jenkins@gerrit:29418/ARM/arm_topology_test</url>
        <credentialsId>df9bd014-71c4-4f0e-8177-456e451a86c0</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
    </extensions>
  </scm>
  <assignedNode>arm-build</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>armRunRouterTestModule</upstreamProjects>
      <threshold>
        <name>FAILURE</name>
        <ordinal>2</ordinal>
        <color>RED</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;build step no. 1 - sftp put conf.sql&quot;
#sftp put armDBsetup.sql in the remote configurator
cp arm_topology_test/src/main/resources/armDBsetup.sql conf.sql
/usr/bin/expect&lt;&lt;EOD
	spawn sftp -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o GSSAPIAuthentication=no root@10.7.20.150
	expect &quot;password:&quot;
	send &quot;password\r&quot;
	expect &quot;sftp&gt;&quot;
	send &quot;put -p conf.sql\r&quot;
	expect &quot;sftp&gt;&quot;
	send &quot;bye\r&quot;
EOD</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo &quot;build step no. 2 - ssh and configure database&quot;
#run sql init + run new configuration
/usr/bin/expect&lt;&lt;EOD
	spawn ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o GSSAPIAuthentication=no root@10.7.20.150
	expect &quot;assword:&quot;
	send &quot;password\r&quot;
	expect &quot;]#&quot;
    send &quot;service tomcat status\r&quot;
	expect &quot;]#&quot;
	#send &quot;service tomcat stop\r&quot;
    send &quot;pkill -f tomcat\r&quot;
    expect &quot;]#&quot;
    send &quot;service tomcat stop\r&quot;
	expect &quot;]#&quot;
    send &quot;service tomcat status\r&quot;
	expect &quot;]#&quot;
	send &quot;mv -f conf.sql sql\r&quot;
	expect &quot;]#&quot;
	#send &quot;mysql -u root --password=root &lt;sql/armDB.sql\r&quot;
    send &quot;mysql &lt;sql/armDB.sql\r&quot;
	expect &quot;]#&quot;
	send &quot;mysql &lt;sql/conf.sql\r&quot;
	expect &quot;]#&quot;
	send &quot;service tomcat start\r&quot;
	expect &quot;]#&quot;
    send &quot;service tomcat status\r&quot;
	expect &quot;]#&quot;
	send &quot;exit\r&quot;
EOD
</command>
    </hudson.tasks.Shell>
    <org.jfrog.hudson.maven3.Maven3Builder plugin="artifactory@3.1.0">
      <mavenName>Maven_v325</mavenName>
      <rootPom>arm_topology_test/pom.xml</rootPom>
      <goals>clean -U package exec:java -Dexec.args=&quot;${config_file_path} ${logs_path} 333&quot;</goals>
      <mavenOpts></mavenOpts>
    </org.jfrog.hudson.maven3.Maven3Builder>
    <org.jfrog.hudson.maven3.Maven3Builder plugin="artifactory@3.1.0">
      <mavenName>Maven_v325</mavenName>
      <rootPom>arm_topology_test/pom.xml</rootPom>
      <goals>clean package exec:java -Dexec.args=&quot;${config_file_path} ${logs_path}&quot;</goals>
      <mavenOpts></mavenOpts>
    </org.jfrog.hudson.maven3.Maven3Builder>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>arm_topology_test/logs/*</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Mailer plugin="mailer@1.21">
      <recipients></recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <com.chikli.hudson.plugin.naginator.NaginatorPublisher plugin="naginator@1.17.2">
      <regexpForRerun>ClosedChannelException</regexpForRerun>
      <rerunIfUnstable>false</rerunIfUnstable>
      <rerunMatrixPart>false</rerunMatrixPart>
      <checkRegexp>true</checkRegexp>
      <regexpForMatrixStrategy>TestParent</regexpForMatrixStrategy>
      <delay class="com.chikli.hudson.plugin.naginator.FixedDelay">
        <delay>7</delay>
      </delay>
      <maxSchedule>0</maxSchedule>
    </com.chikli.hudson.plugin.naginator.NaginatorPublisher>
  </publishers>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@2.1.5">
      <info>
        <propertiesContent>TERM=xterm
config_file_path=${WORKSPACE}/arm_topology_test/conf/arm_topology_test.conf
logs_path=${WORKSPACE}/arm_topology_test/logs
</propertiesContent>
        <secureGroovyScript plugin="script-security@1.53">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>