<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>taol</id>
  <fullName>Felix Liu</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwd2ksNJrILcuW7Rw5WV2HLm0RzNu0DtvNp+QV41c6KTRt8itJSu3fwgNEJA1n5z7DznOuBOvCxzv+3pJeD/uerA==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>9be4ff26-4dfb-4330-b494-8e0495a8d9bd</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>de08cb743cf4694983aa5deacd8fb17988c7a044fbff8d5be992cf75bb7dee60</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># ROW employees</string>
        <string>authenticated</string>
        <string>AWS_Jira_Users</string>
        <string>Citrix_Allow_Browsers</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Palo_Amazon_RnD_Users_Access</string>
        <string># IPP Alex SW SZ</string>
        <string># ClearCase R&amp;D</string>
        <string># SZ Office</string>
        <string>CatalogApps_Everyone</string>
        <string>CI_IPP_developers</string>
        <string># IPP RnD – SZ</string>
        <string>Password Manager Apply</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># IPP</string>
        <string>Vopp</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string># IPP RnD</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
      </roles>
      <timestamp>1568685742167</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Tao.Liu@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>7758a15b62b3718d</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>