<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Yaniv Mazliah</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>Y6ZJRDgye6p5K/JOOIdL9aC1SSdxLcAmCGxbaR34tpEQV7WSh2DA10Lq4g4XcOmq</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.26">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.41.3">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># TRAVEL IL</string>
        <string>Agile users</string>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>WirelessUsers</string>
        <string>Sp365-Devops-Read</string>
        <string># ClearCase R&amp;D</string>
        <string># All R&amp;D</string>
        <string># R&amp;D System Software</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string>CI_IPP_developers</string>
        <string># Agile users</string>
        <string># All ISRAEL</string>
        <string>Offer Remote Assistance Helpers</string>
        <string># R&amp;D Israel</string>
        <string>Mailvision Branch Office Users</string>
        <string>Vopp</string>
        <string>Linuxusers</string>
        <string># BatchRunnerBlockStream</string>
        <string>AudioCodes_VPN</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>CPE</string>
        <string>IppSwReleases</string>
        <string># R&amp;D Sys SW Team Leaders</string>
        <string># R&amp;D Application Group</string>
      </roles>
      <timestamp>1479294241076</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.16">
      <emailAddress>Yaniv.Mazliah@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>