<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>antont</id>
  <fullName>Anton Tsyhanenko</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwEcRp+Fw1xsE8vGdSsPL1KEOY8nrlTDfWvSTowzheXPHMthGXSfrOrrqXSI36Xd7kIZ6/1uniP3PM/czLAc2O5w==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>f053aa86-c7ed-4244-9886-c4975f77a310</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>ae147995277b8de31ba85337583cb142a85388aca89ab9e5125b47e66ba4b0b0</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Anton.Tsyhanenko@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>SSL_NO_VPN</string>
        <string>authenticated</string>
        <string>Password Manager Apply</string>
        <string>AWS_Jira_Users</string>
        <string>#IP Phone Automation</string>
        <string>Allowed RODC Password Replication Group</string>
        <string># IPP QA</string>
        <string>Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string>SSL_GL_Auto</string>
        <string># IPP</string>
        <string># ClearCase R&amp;D</string>
        <string># RnD Israel</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>IppSwReleases</string>
        <string>CatalogApps_Everyone</string>
      </roles>
      <timestamp>1550502315032</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>0dff88e288e94834</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>