<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>armConvertOVAtoVHD_1&#xd;
this is the first job&#xd;
purpose: add Linux integration for HyperV to the desired ARM OVA (by tag)&#xd;
steps:&#xd;
1. take OVA from Artifactory by tag&#xd;
2. deploy in esxi&#xd;
3. ssh and install the sw package&#xd;
4. export to a new OVA&#xd;
5. deploy to Artifactory to tempo folder&#xd;
6. call the second job that will convert the temp ova to VHD</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.13">
      <siteName>http://acjira:8080/</siteName>
    </hudson.plugins.jira.JiraProjectProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>TAG</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
      <configVersion>1</configVersion>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>arm_build_esxi_6.5</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd ~/.ssl
vipw=$(openssl rsautl -decrypt -inkey private.pem -in pw.esxi)

cd ${WORKSPACE}
vmHostIP=&quot;10.7.10.107&quot;
vm_username=&apos;armAdmin&apos;
vm_password=&apos;Arm!default1&apos;
vm_root_password=&apos;password&apos;

# Create a new log file
now=$(date +&quot;%Y%m%d-%H%M%S&quot;)
logfile=&quot;${WORKSPACE}/aws_armBuildVHD.log&quot;
[[ -f $logfile  ]] &amp;&amp; rm $logfile
touch $logfile    
    
    

#check if VM name ARM-Conf_$TAG is already exists
vms=`ssh root@${vmHostIP} vim-cmd vmsvc/getallvms | grep &quot;VHD_ARM-Conf_$TAG&quot; | gawk &apos;{print $1}&apos;`
if [ ! -z &quot;$vms&quot; ]
	then
	    echo &quot;$(date) : VHD_ARM-Conf_$TAG already exist, I am exiting now&quot;   | tee -a $logfile
		exit 1
fi
    
#check if VM name ARM-Router_$TAG is already exists
vms=`ssh root@${vmHostIP} vim-cmd vmsvc/getallvms | grep &quot;VHD_ARM-Router_$TAG&quot; | gawk &apos;{print $1}&apos;`
if [ ! -z &quot;$vms&quot; ]
	then
	    echo &quot;$(date) : VHD_ARM-Router_$TAG already exist, I am exiting now&quot;   | tee -a $logfile
		exit 1
fi


#create a new VM from ARM-Conf_image.ova (ova file is located on jenkins slave
echo &quot;$(date) : creating new Conf VM from image&quot;  | tee -a $logfile
OVA=/home/centos/jenkinsslave_jenkins/arm_ova/Configurator/Configurator_Centos8.ovf
ovftool --disableVerification --noSSLVerify --name=&quot;VHD_ARM-Conf_$TAG&quot; --datastore=DataStore01 --diskMode=thin --acceptAllEulas --powerOn ${WORKSPACE}/ovaFiles/ARM-Conf_${TAG}.ova vi://root:$vipw@${vmHostIP} 
if [ $? -ne 0 ]; then
    echo &quot;$(date) : Deploy new Configuator VM has failed&quot;  | tee -a $logfile
    exit 1
fi
#create a new VM from ARM-Router_$TAG.ova (ova file is located on jenkins slave
echo &quot;$(date) : creating new Router VM from image&quot; 
ovftool --disableVerification --noSSLVerify --name=&quot;VHD_ARM-Router_$TAG&quot; --datastore=DataStore01 --diskMode=thin --acceptAllEulas --powerOn ${WORKSPACE}/ovaFiles/ARM-Router_${TAG}.ova vi://root:$vipw@${vmHostIP} 
if [ $? -ne 0 ]; then
    echo &quot;$(date) : Deploy new Router VM has failed&quot;   | tee -a $logfile
    exit 1
fi

# find new arm configurator vm id
conf_vmid=`ssh root@${vmHostIP} vim-cmd vmsvc/getallvms | grep &quot;VHD_ARM-Conf_$TAG&quot; | gawk &apos;{print $1}&apos;`
echo &quot;$(date) : vm id is $conf_vmid&quot;  | tee -a $logfile

# find new arm configurator vm id
router_vmid=`ssh root@${vmHostIP} vim-cmd vmsvc/getallvms | grep &quot;VHD_ARM-Router_$TAG&quot; | gawk &apos;{print $1}&apos;`
echo &quot;$(date) : vm id is $router_vmid&quot;  | tee -a $logfile

# Wait for power on
echo &quot;$(date) : sleep 5 min.&quot;  | tee -a $logfile
sleep 300

# find new arm configurator vm IPv4 address
conf_vmIPaddress=`ssh root@${vmHostIP} vim-cmd vmsvc/get.guest $conf_vmid | grep -E &quot;ipAddress.*\[$&quot; -m 1 -A 5 | grep -E -o &quot;([0-9]{1,3}[\.]){3}[0-9]{1,3}&quot;`
ipcalc -cs $conf_vmIPaddress || ( echo &quot;$(date) : Invalid IP for $conf_vmid&quot; | exit 1)
echo &quot;$(date) : Configurator vm IP is $conf_vmIPaddress&quot;  | tee -a $logfile 


# find new arm router vm IPv4 address
router_vmIPaddress=`ssh root@${vmHostIP} vim-cmd vmsvc/get.guest $router_vmid | grep -E &quot;ipAddress.*\[$&quot; -m 1 -A 5 | grep -E -o &quot;([0-9]{1,3}[\.]){3}[0-9]{1,3}&quot;`
ipcalc -cs $router_vmIPaddress || ( echo &quot;$(date) : Invalid IP for $router_vmid&quot; | exit 1)
echo &quot;$(date) : Router vm IP is $router_vmIPaddress&quot;   | tee -a $logfile

function installLisRpms () {
	HOST=$1
	sshpass -p ${vm_password} ssh -oStrictHostKeyChecking=no ${vm_username}@${HOST} &lt;&lt; EOF
	sudo -i -u root bash &lt;&lt;-EOS
    	set -xe
    	curl -ku devops_read:devops_read -O https://artifactory/Devops/Tools/Azure/arm/lis-rpms-4.3.5.x86_64.tar.gz
    	tar -xvzf lis-rpms-4.3.5.x86_64.tar.gz
    	cd LISISO
    	./install.sh
    	cd $HOME
        rm -rf LISISO lis-rpms-*&quot;
    EOS
EOF
}

function reduceVMSize () {
	HOST=$1
	sshpass -p ${vm_password} ssh -oStrictHostKeyChecking=no ${vm_username}@${HOST} &lt;&lt; EOF
    sudo -i -u root bash &lt;&lt;-EOS
		set -xe
		dd if=/dev/zero of=zeroFile.tmp || echo finished
    	rm -rf zeroFile.tmp
    	sudo reboot
    EOS
EOF
}
#install Linux Integration Services v4.3 for Hyper-V and Azure  for Configurator and Router VMS
echo &quot;install lis-rpms.4.3.5 for Configurator VM&quot;  | tee -a $logfile
installLisRpms $conf_vmIPaddress

echo &quot;install lis-rpms.4.3.5 for Router VM&quot;  | tee -a $logfile
installLisRpms $router_vmIPaddress


echo &quot;Reduce Configurator VM Size&quot;  | tee -a $logfile
reduceVMSize $conf_vmIPaddress

echo &quot;Reduce Router VM Size&quot;  | tee -a $logfile
reduceVMSize $router_vmIPaddress

#wait for VM to UP
sleep 100


#graceful shutdouwn BOTH VM
echo &quot;$(date) : shutdown new Configurator VM&quot;  | tee -a $logfile
ssh -oStrictHostKeyChecking=no root@${vmHostIP} vim-cmd vmsvc/power.shutdown ${conf_vmid}
sleep 30

echo &quot;$(date) : shutdown new Router VM&quot;   | tee -a $logfile
ssh -oStrictHostKeyChecking=no root@${vmHostIP} vim-cmd vmsvc/power.shutdown ${Router_vmid}
sleep 30




#export both VMS to OVA
mkdir $WORKSPACE/newOVAs
echo &quot;$(date) : export new Configurator VM to an OVA file&quot;   | tee -a $logfile
ovftool -o --noSSLVerify --powerOffSource vi://root:$vipw@${vmHostIP}/VHD_ARM-Conf_$TAG $WORKSPACE/newOVAs/VHD_ARM-Conf_$TAG.ova  | tee -a $logfile
ovfResult=$(tail -1 $logfile | grep &quot;Completed&quot;)
if [[ &quot;${ovfResult}&quot; == &quot;Completed with errors&quot; ]] 
then
	exit 1
fi
cd $WORKSPACE/newOVAs
mv VHD_ARM-Conf_$TAG.ova ARM-Conf_$TAG.ova

echo &quot;$(date) : export new Router VM to an OVA file&quot;   | tee -a $logfile
ovftool -o --noSSLVerify --powerOffSource vi://root:$vipw@${vmHostIP}/VHD_ARM-Router_$TAG $WORKSPACE/newOVAs/VHD_ARM-Router_$TAG.ova  | tee -a $logfile
ovfResult=$(tail -1 $logfile | grep &quot;Completed&quot;)
if [[ &quot;${ovfResult}&quot; == &quot;Completed with errors&quot; ]] 
then
	exit 1
fi
cd $WORKSPACE/newOVAs
mv VHD_ARM-Router_$TAG.ova ARM-Router_$TAG.ova


#terminate both VM MACHINES
echo &quot;$(date) : delete new Configurator VM&quot;   | tee -a $logfile
ssh -oStrictHostKeyChecking=no root@${vmHostIP} vim-cmd vmsvc/destroy  ${conf_vmid}
sleep 30

echo &quot;$(date) : delete new Router VM&quot;   | tee -a $logfile
ssh -oStrictHostKeyChecking=no root@${vmHostIP} vim-cmd vmsvc/destroy  ${Router_vmid}
sleep 30</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>aws_armBuildVHD.log</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher plugin="flexible-publish@0.15.2">
      <publishers>
        <org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
          <condition class="org.jenkins_ci.plugins.run_condition.core.StatusCondition" plugin="run-condition@1.3">
            <worstResult>
              <name>SUCCESS</name>
              <ordinal>0</ordinal>
              <color>BLUE</color>
              <completeBuild>true</completeBuild>
            </worstResult>
            <bestResult>
              <name>SUCCESS</name>
              <ordinal>0</ordinal>
              <color>BLUE</color>
              <completeBuild>true</completeBuild>
            </bestResult>
          </condition>
          <publisherList>
            <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.36">
              <configs>
                <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
                  <configs>
                    <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                      <properties>TAG=${TAG}</properties>
                      <textParamValueOnNewLine>false</textParamValueOnNewLine>
                    </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                    <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
                  </configs>
                  <projects>armConvertOVAtoVHD_2</projects>
                  <condition>SUCCESS</condition>
                  <triggerWithNoParameters>false</triggerWithNoParameters>
                  <triggerFromChildProjects>false</triggerFromChildProjects>
                </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
              </configs>
            </hudson.plugins.parameterizedtrigger.BuildTrigger>
          </publisherList>
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.3"/>
          <executionStrategy class="org.jenkins_ci.plugins.flexible_publish.strategy.FailAtEndExecutionStrategy"/>
        </org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
      </publishers>
    </org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher>
    <hudson.tasks.Mailer plugin="mailer@1.32">
      <recipients>ben.magriso</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.ws__cleanup.WsCleanup plugin="ws-cleanup@0.38">
      <patterns class="empty-list"/>
      <deleteDirs>false</deleteDirs>
      <skipWhenFailed>false</skipWhenFailed>
      <cleanWhenSuccess>true</cleanWhenSuccess>
      <cleanWhenUnstable>false</cleanWhenUnstable>
      <cleanWhenFailure>false</cleanWhenFailure>
      <cleanWhenNotBuilt>false</cleanWhenNotBuilt>
      <cleanWhenAborted>false</cleanWhenAborted>
      <notFailBuild>false</notFailBuild>
      <cleanupMatrixParent>false</cleanupMatrixParent>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.WsCleanup>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.38">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.11.3"/>
    <org.jfrog.hudson.generic.ArtifactoryGenericConfigurator plugin="artifactory@3.6.1">
      <deployerDetails>
        <artifactoryName>797876730@1453721585664</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </deployerDetails>
      <resolverDetails>
        <artifactoryName>797876730@1453721585664</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </resolverDetails>
      <deployerCredentialsConfig>
        <credentialsId></credentialsId>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </deployerCredentialsConfig>
      <resolverCredentialsConfig>
        <credentialsId></credentialsId>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </resolverCredentialsConfig>
      <useSpecs>true</useSpecs>
      <uploadSpec>
        <spec>{
    &quot;files&quot;: [
        {
            &quot;pattern&quot;: &quot;${WORKSPACE}/newOVAs/ARM-Conf_${TAG}.ova&quot;,
            &quot;target&quot;: &quot;libs-release-local/com/ac/arm/tempOVA/${TAG}/ARM-Conf_${TAG}/&quot;,
             &quot;recursive&quot;: &quot;false&quot;
        },
        {
            &quot;pattern&quot;: &quot;${WORKSPACE}/newOVAs/ARM-Router_${TAG}.ova&quot;,
            &quot;target&quot;: &quot;libs-release-local/com/ac/arm/tempOVA/${TAG}/ARM-Router_${TAG}/&quot;,
             &quot;recursive&quot;: &quot;false&quot;
        }   
    ]
}</spec>
      </uploadSpec>
      <downloadSpec>
        <spec>

{
    &quot;files&quot;: [
        {
            &quot;pattern&quot;: &quot;libs-release-local/com/ac/arm/OVA/${TAG}/ARM-Conf_${TAG}/ARM-Conf_${TAG}.ova&quot;,
            &quot;target&quot;: &quot;${workspace}/ovaFiles/&quot;,
            &quot;flat&quot;: &quot;true&quot;
        },
        {
            &quot;pattern&quot;: &quot;libs-release-local/com/ac/arm/OVA/${TAG}/ARM-Router_${TAG}/ARM-Router_${TAG}.ova&quot;,
            &quot;target&quot;: &quot;${workspace}/ovaFiles/&quot;,
            &quot;flat&quot;: &quot;true&quot;
        }
    ]
}</spec>
      </downloadSpec>
      <deployPattern>newOVAs/ARM-Conf_${TAG}.ova=&gt;com/ac/arm/tempOVA/${TAG}/ARM-Conf_${TAG}
newOVAs/ARM-Router_${TAG}.ova=&gt;com/ac/arm/tempOVA/${TAG}/ARM-Router_${TAG}</deployPattern>
      <resolvePattern>libs-release-local:com/ac/arm/OVA/${TAG}/ARM-Conf_${TAG}/ARM-Conf_${TAG}.ova=&gt;${workspace}/ovaFiles
libs-release-local:com/ac/arm/OVA/${TAG}/ARM-Router_${TAG}/ARM-Router_${TAG}.ova=&gt;${workspace}/ovaFiles
</resolvePattern>
      <deploymentProperties></deploymentProperties>
      <deployBuildInfo>true</deployBuildInfo>
      <includeEnvVars>false</includeEnvVars>
      <envVarsPatterns>
        <includePatterns></includePatterns>
        <excludePatterns>*password*,*secret*,*key*</excludePatterns>
      </envVarsPatterns>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
      <asyncBuildRetention>false</asyncBuildRetention>
      <multiConfProject>false</multiConfProject>
      <customBuildName></customBuildName>
      <overrideBuildName>false</overrideBuildName>
    </org.jfrog.hudson.generic.ArtifactoryGenericConfigurator>
    <EnvInjectBuildWrapper plugin="envinject@2.3.0">
      <info>
        <propertiesContent>root_username=root</propertiesContent>
        <secureGroovyScript plugin="script-security@1.71">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
    <EnvInjectPasswordWrapper plugin="envinject@2.3.0">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>root_password</name>
          <value>{AQAAABAAAAAQJpFlccuyfS37e8Cmeq34Bgx7Tai46uxM7sBwjKu3KLw=}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@2.1.0">
      <template>#${BUILD_NUMBER}__${TAG}</template>
      <descriptionTemplate></descriptionTemplate>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>