<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Felix Liu</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>rqMtrV+N2uXr++Dd1LXlSlIrYUZGMq+aqeOgbIErCOYQV7WSh2DA10Lq4g4XcOmq</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.26">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.41.3">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.16">
      <emailAddress>Tao.Liu@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string># IP Phone R&amp;D</string>
        <string>AudioCodes_VPN</string>
        <string>authenticated</string>
        <string>Domain Users</string>
        <string>CI_IPP_developers</string>
        <string>Certificate Service DCOM Access</string>
        <string># CMBU-R&amp;D-Shenzhen</string>
        <string>Mailvision Branch Office Users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Citrix_Allow_IE</string>
        <string>CatalogApps_Everyone</string>
        <string>Vopp</string>
      </roles>
      <timestamp>1473131289275</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>