<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>for each children &#xd;
1. it&apos;s downloading the size report of the latest tag and the size report of one tag before the latest one.&#xd;
2. compare the two reports and check the size differences between them.&#xd;
3. push the output of the comparison to artifactory &#xd;
4. send an email with the result of the comparison of each children that the size differences are not well. </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>60</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>NEWTAG</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_BRANCH</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.8.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://jenkins@gerrit:29418/IPP/SFB</url>
        <credentialsId>df9bd014-71c4-4f0e-8177-456e451a86c0</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>$NEWTAG</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
    </extensions>
  </scm>
  <quietPeriod>600</quietPeriod>
  <assignedNode>ipp-centos7.4</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>artifactory_host=artifactory
needToSendEmail=&quot;False&quot;
artifactory_url=https://$artifactory_host/ipp-release/com/ac/ipp/SFB
failedToCurlOnceAtLeast=&quot;False&quot;
needToSendEmail_reduced_size=&quot;False&quot;
# get one tag before ${NEWTAG} to compare two newest size_report csv
OLDTAG=$(git describe --tags --abbrev=0 ${NEWTAG}^ --first-parent origin/$BUILD_BRANCH | head -n1)
echo &quot;OLD TAG == $OLDTAG&quot;

	


  echo &quot;In branch ${BUILD_BRANCH} between tags ${OLDTAG} and ${NEWTAG} the img size is different in the following models:&quot; &gt; emailContent.txt
  echo -e &quot;\r\n&quot; &gt;&gt; emailContent.txt
  #get all childs names from the spesific TAG
  childs=$(cat boards2compile.yml | sed s/.*AUTOPRD=// | cut -d&quot; &quot; -f1 | cut -d&quot;&amp;&quot; -f1)
  allChilds=($childs)
  allChildsLength=${#allChilds[@]}
  for i in `seq 2 $(($allChildsLength-1))`
  do
   echo &quot;*****************************************************${allChilds[i]}********************************************************************&quot;
      #get the Current build NEW CSV REPORT
      curl -k -u ipp-size-check:ipp-size-check --insecure -fO &quot;${artifactory_url}/${BUILD_BRANCH}/${NEWTAG}/${allChilds[i]}/${NEWTAG}_size_report.csv&quot; || curlHasFailed=&quot;True&quot;
      #get the OLDER CSV REPORT (NEWTAG -1)
      curl -k -u ipp-size-check:ipp-size-check --insecure -fO &quot;${artifactory_url}/${BUILD_BRANCH}/${OLDTAG}/${allChilds[i]}/${OLDTAG}_size_report.csv&quot; || curlHasFailed=&quot;True&quot;
      # if curl failed to download the report (not running the comparison)
    
      if [[ &quot;$curlHasFailed&quot; == &quot;True&quot; ]]
      then
      	failedToCurlOnceAtLeast=&quot;True&quot;
      	echo &quot;Failed to download sizeReport from Artifactory to ${allChilds[i]}&quot; &gt;&gt; size_report_${allChilds[i]}.txt
        curlHasFailed=&quot;False&quot;
      else
        # run comparison between the old csv to the new csv
        RetunedValue=0
        sh scripts/mtds_size.sh size_diff ${OLDTAG}_size_report.csv ${NEWTAG}_size_report.csv || RetunedValue=$?
        #return 0 if the script succeseded else if failed
        if [[ $RetunedValue == &quot;0&quot; ]]
        then
            echo &quot;${allChilds[i]} img size test passed&quot;
        elif [[ $RetunedValue == &quot;1&quot; ]]
        then
            needToSendEmail=&quot;True&quot;
            echo &quot;${allChilds[i]}  img size test failed&quot;
            echo &quot;${allChilds[i]} img size test failed, You can see full report here ${BUILD_URL}artifact/size_report_${allChilds[i]}.txt&quot; &gt;&gt; emailContent.txt
            echo -e &quot;\r\n&quot; &gt;&gt; emailContent.txt
        else
        	needToSendEmail_reduced_size=&quot;True&quot;
            echo &quot;${allChilds[i]}: You can see the full report here: ${BUILD_URL}artifact/size_report_${allChilds[i]}.txt&quot; &gt;&gt; emailContent_reduced_size.txt       
        fi
        if [[ -e build/size_diff_report_${NEWTAG}.txt ]]
        then            
            mv build/size_diff_report_${NEWTAG}.txt size_report_${allChilds[i]}.txt 
            #push the report to artifactory to each children
            curl -ks -u ipp-size-check:ipp-size-check -X PUT &quot;${artifactory_url}/${BUILD_BRANCH}/${NEWTAG}/${allChilds[i]}/${NEWTAG}_size_report_result.txt&quot; -T size_report_${allChilds[i]}.txt
        fi 
      fi  
  done

echo &quot;needToSendEmail=$needToSendEmail&quot; &gt; properties
echo &quot;needToSendEmail_reduced_size=$needToSendEmail_reduced_size&quot; &gt;&gt; properties
echo &quot;OLDTAG=$OLDTAG&quot; &gt;&gt; properties
# If both conditions are true so i am failing the build because all moudules are failed to download size_report from artifactory
if [[ &quot;$failedToCurlOnceAtLeast&quot; == &quot;True&quot; &amp;&amp; &quot;$needToSendEmail&quot; == &quot;False&quot; ]]
then
exit 3
fi


#cc:ben.magriso@audiocodes.com,Jonatan.Reberger@audiocodes.com,Ami.Lahav@audiocodes.com,Arik.Kabessa@audiocodes.com,Oleg.Friedman@audiocodes.com</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.1.5">
      <info>
        <propertiesFilePath>properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
  </builders>
  <publishers>
    <com.chikli.hudson.plugin.naginator.NaginatorPublisher plugin="naginator@1.17.2">
      <regexpForRerun>.*(ClosedChannel|no workspace from node|Workspace is not accessible|node is offline|Error fetching remote|JNLP4-connect connection|Error cloning remote repo &apos;origin&apos;).*</regexpForRerun>
      <rerunIfUnstable>false</rerunIfUnstable>
      <rerunMatrixPart>false</rerunMatrixPart>
      <checkRegexp>true</checkRegexp>
      <regexpForMatrixStrategy>TestParent</regexpForMatrixStrategy>
      <delay class="com.chikli.hudson.plugin.naginator.FixedDelay">
        <delay>5</delay>
      </delay>
      <maxSchedule>1</maxSchedule>
    </com.chikli.hudson.plugin.naginator.NaginatorPublisher>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*.txt</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Mailer plugin="mailer@1.21">
      <recipients>ben.magriso</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher plugin="flexible-publish@0.15.2">
      <publishers>
        <org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
          <condition class="org.jenkins_ci.plugins.run_condition.core.BooleanCondition" plugin="run-condition@1.0">
            <token>$needToSendEmail </token>
          </condition>
          <publisherList>
            <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.62">
              <recipientList>Ben.Magriso@audiocodes.com,Jonatan.Reberger@audiocodes.com</recipientList>
              <configuredTriggers>
                <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
                  <email>
                    <subject>$PROJECT_DEFAULT_SUBJECT</subject>
                    <body>$PROJECT_DEFAULT_CONTENT</body>
                    <recipientProviders>
                      <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
                      <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
                    </recipientProviders>
                    <attachmentsPattern></attachmentsPattern>
                    <attachBuildLog>false</attachBuildLog>
                    <compressBuildLog>false</compressBuildLog>
                    <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
                    <contentType>project</contentType>
                  </email>
                </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
              </configuredTriggers>
              <contentType>text/html</contentType>
              <defaultSubject>IPP Size Checker ${NEWTAG} Failed</defaultSubject>
              <defaultContent>&lt;pre&gt;
${FILE,path=&quot;emailContent.txt&quot;}
&lt;/pre&gt;
Build Url: $BUILD_URL
</defaultContent>
              <attachmentsPattern></attachmentsPattern>
              <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
              <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
              <attachBuildLog>false</attachBuildLog>
              <compressBuildLog>false</compressBuildLog>
              <replyTo>$DEFAULT_REPLYTO</replyTo>
              <from></from>
              <saveOutput>false</saveOutput>
              <disabled>false</disabled>
            </hudson.plugins.emailext.ExtendedEmailPublisher>
          </publisherList>
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Run" plugin="run-condition@1.0"/>
          <executionStrategy class="org.jenkins_ci.plugins.flexible_publish.strategy.FailAtEndExecutionStrategy"/>
        </org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
        <org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
          <condition class="org.jenkins_ci.plugins.run_condition.core.BooleanCondition" plugin="run-condition@1.0">
            <token>$needToSendEmail_reduced_size</token>
          </condition>
          <publisherList>
            <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.62">
              <recipientList>cc:Ben.Magriso@audiocodes.com,Jonatan.Reberger@audiocodes.com</recipientList>
              <configuredTriggers>
                <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
                  <email>
                    <subject>$PROJECT_DEFAULT_SUBJECT</subject>
                    <body>$PROJECT_DEFAULT_CONTENT</body>
                    <recipientProviders>
                      <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
                    </recipientProviders>
                    <attachmentsPattern></attachmentsPattern>
                    <attachBuildLog>false</attachBuildLog>
                    <compressBuildLog>false</compressBuildLog>
                    <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
                    <contentType>project</contentType>
                  </email>
                </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
              </configuredTriggers>
              <contentType>text/html</contentType>
              <defaultSubject>Good job ! Size has been reduced !</defaultSubject>
              <defaultContent>You reduce the size for ${BUILD_BRANCH} in models:
&lt;pre&gt;
${FILE,path=&quot;emailContent_reduced_size.txt&quot;}
&lt;/pre&gt;
</defaultContent>
              <attachmentsPattern></attachmentsPattern>
              <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
              <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
              <attachBuildLog>false</attachBuildLog>
              <compressBuildLog>false</compressBuildLog>
              <replyTo>$DEFAULT_REPLYTO</replyTo>
              <from></from>
              <saveOutput>false</saveOutput>
              <disabled>false</disabled>
            </hudson.plugins.emailext.ExtendedEmailPublisher>
          </publisherList>
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
          <executionStrategy class="org.jenkins_ci.plugins.flexible_publish.strategy.FailAtEndExecutionStrategy"/>
        </org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
      </publishers>
    </org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.9">
      <template>#${BUILD_NUMBER}__${NEWTAG}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>