<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>lilyl</id>
  <fullName>Lily Li</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwDVz3OaOTCW8uE0nwd1HXwI5w1tR/KWZ76XUjEZAU/cszdk8BiR/4JJ/jRq67E/BSmVSU2CsnEhecBzROkBRQbQ==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>db42f726-0b79-4f00-8fb4-40cf73b11df0</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>6e4e1b3354178b8346e95ea0520b30255152e7da31038dfaa322abe5e936c74a</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># ROW employees</string>
        <string>authenticated</string>
        <string>AWS_Jira_Users</string>
        <string>Citrix_Allow_Browsers</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string># IPP Alex SW SZ</string>
        <string># ClearCase R&amp;D</string>
        <string># SZ Office</string>
        <string>CatalogApps_Everyone</string>
        <string># IPP RnD – SZ</string>
        <string>Password Manager Apply</string>
        <string># Abroad</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string>NewUser_China</string>
        <string># IPP</string>
        <string>AudioCodes_VPN</string>
        <string># All China</string>
        <string># RnD Israel</string>
        <string># IPP RnD</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
      </roles>
      <timestamp>1566986107867</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Lily.Li@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>60bc802629c3e8c0</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>