<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Sanjer</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 8 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#msg=`python /home/centos/si.py`
#echo $msg
#echo &quot;report=$msg&quot; &gt; /home/centos/env_properties.txt

python &lt;&lt;-EOS

import boto3
from botocore.exceptions import ClientError
import datetime
import pytz
from pprint import pprint
import json
from dateutil.tz import tzutc
import repr as reprlib
import sys

now = datetime.datetime.now(pytz.utc)
oldage = now - datetime.timedelta(hours=8)

header = &quot;&lt;html&gt;&lt;head&gt;&lt;style&gt;table, th, td {border: 1px solid black; border-collapse: collapse;} th, td {padding: 5px; text-align: left; }&lt;/style&gt;&lt;/head&gt;&lt;body&gt;&lt;h1&gt;AWS daily report for &quot; + now.strftime(&apos;%d-%m-%Y %H:%M&apos;) + &quot;&lt;/h1&gt;&quot;
footer = &quot;&lt;/body&gt;&lt;/html&gt;&quot;

###########################################################################################################################################
# Spotinst instances launched more then 8 hours ago

ec2 = boto3.client(&apos;ec2&apos;)
insts_header = &quot;&lt;h2&gt;Provisional instances launched more then 8 hours ago&lt;/h2&gt;&lt;table&gt;&lt;tr&gt;&lt;td&gt;ID&lt;/td&gt;&lt;td&gt;Name&lt;/td&gt;&lt;td&gt;Launched on&lt;/td&gt;&lt;td&gt;at&lt;/td&gt;&lt;/tr&gt;&quot;
insts_footer = &quot;&lt;/table&gt;&quot;

# Spotinst instances
instances = ec2.describe_instances(Filters=[{&apos;Name&apos;:&apos;tag:Creator&apos;,&apos;Values&apos;:[&apos;Spotinst&apos;]},{&apos;Name&apos;:&apos;instance-state-name&apos;,&apos;Values&apos;:[&apos;running&apos;]}])

SImessage = &quot;&quot;

for r in instances[&apos;Reservations&apos;]:
    for instance in r[&apos;Instances&apos;]:
        #pprint.pprint(instance)
        instance_id = instance[&apos;InstanceId&apos;]
        for t in instance[&apos;Tags&apos;]:
            if t[&apos;Key&apos;] == &quot;Name&quot;:
                instance_name = t[&apos;Value&apos;]
        launch_time = instance[&apos;LaunchTime&apos;]
        launch_time = launch_time.replace(tzinfo=pytz.utc)
        launch_date_str = launch_time.strftime(&apos;%d/%m/%Y&apos;)
        launch_hour_str = launch_time.strftime(&apos;%H:%M&apos;)
        #
        if (oldage &gt; launch_time):
            SImessage = (SImessage + &quot;&lt;tr&gt;&lt;td&gt;&quot; + instance_id + &quot;&lt;/td&gt;&lt;td&gt;&quot; + instance_name + &quot;&lt;/td&gt;&lt;td&gt;&quot; + launch_date_str + &quot;&lt;/td&gt;&lt;td&gt;&quot; + launch_hour_str + &quot;&lt;/td&gt;&lt;/tr&gt;&quot;)

print(&quot;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&quot;)
print(SImessage)
print(&quot;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&quot;)

if SImessage == &quot;&quot;:
    SImessage = &quot;&lt;tr&gt;&lt;td colspan=\&quot;4\&quot;&gt;&lt;h3&gt;No Spotinst instances older then 1 day&lt;/h3&gt;&lt;/td&gt;&lt;/tr&gt;&quot;

# IT instances
instances = ec2.describe_instances(Filters=[{&apos;Name&apos;:&apos;tag:Ownner&apos;,&apos;Values&apos;:[&apos;IT&apos;]},{&apos;Name&apos;:&apos;instance-state-name&apos;,&apos;Values&apos;:[&apos;running&apos;]}])

ITmessage = &quot;&quot;

for r in instances[&apos;Reservations&apos;]:
    for instance in r[&apos;Instances&apos;]:
        #pprint.pprint(instance)
        instance_id = instance[&apos;InstanceId&apos;]
        for t in instance[&apos;Tags&apos;]:
            if t[&apos;Key&apos;] == &quot;Name&quot;:
                instance_name = t[&apos;Value&apos;]
        launch_time = instance[&apos;LaunchTime&apos;]
        launch_time = launch_time.replace(tzinfo=pytz.utc)
        launch_date_str = launch_time.strftime(&apos;%d/%m/%Y&apos;)
        launch_hour_str = launch_time.strftime(&apos;%H:%M&apos;)
        #
        if (oldage &gt; launch_time):
            ITmessage = (ITmessage + &quot;&lt;tr&gt;&lt;td&gt;&quot; + instance_id + &quot;&lt;/td&gt;&lt;td&gt;&quot; + instance_name + &quot;&lt;/td&gt;&lt;td&gt;&quot; + launch_date_str + &quot;&lt;/td&gt;&lt;td&gt;&quot; + launch_hour_str + &quot;&lt;/td&gt;&lt;/tr&gt;&quot;)

print(&quot;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&quot;)
print(ITmessage)
print(&quot;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&quot;)

if ITmessage == &quot;&quot;:
    ITmessage = &quot;&lt;tr&gt;&lt;td colspan=\&quot;4\&quot;&gt;&lt;h3&gt;No IT instances older then 1 day&lt;/h3&gt;&lt;/td&gt;&lt;/tr&gt;&quot;


# Combine instances messages
insts_message = (insts_header + SImessage + ITmessage + insts_footer)

###########################################################################################################################################
# Volumes in status &quot;Available&quot;

vols_header = &quot;&lt;h2&gt;Volumes in status \&quot;Available\&quot;&lt;/h2&gt;&lt;table&gt;&lt;tr&gt;&lt;td&gt;Name&lt;/td&gt;&lt;td&gt;ID&lt;/td&gt;&lt;td&gt;Type&lt;/td&gt;&lt;td&gt;Size&lt;/td&gt;&lt;td&gt;Created&lt;/td&gt;&lt;td&gt;Snap&lt;/td&gt;&lt;/tr&gt;&quot;
vols_footer = &quot;&lt;/table&gt;&quot;

message = &quot;&quot;

volumes = ec2.describe_volumes(Filters=[{&apos;Name&apos;: &apos;status&apos;, &apos;Values&apos;: [&apos;available&apos;]}])

for volume in volumes[&apos;Volumes&apos;]:
    volume_id = volume[&apos;VolumeId&apos;]
    volume_size = str(volume[&apos;Size&apos;])
    volume_type = volume[&apos;VolumeType&apos;]
    create_time = volume[&apos;CreateTime&apos;]
    create_time = create_time.replace(tzinfo=pytz.utc)
    volume_date = create_time.strftime(&apos;%d/%m/%Y&apos;)

    if volume[&apos;SnapshotId&apos;] != &quot;&quot;:
        volume_snap = volume[&apos;SnapshotId&apos;]
    else:
        volume_snap = &quot;No Snapshot&quot;
    for t in volume[&apos;Tags&apos;]:
        if t[&apos;Key&apos;] == &quot;Name&quot;:
            volume_name = t[&apos;Value&apos;]

    message = (message + &quot;&lt;tr&gt;&lt;td&gt;&quot; + volume_name + &quot;&lt;/td&gt;&lt;td&gt;&quot; + volume_id + &quot;&lt;/td&gt;&lt;td&gt;&quot; + volume_type + &quot;&lt;/td&gt;&lt;td&gt;&quot; + volume_size + &quot;&lt;/td&gt;&lt;td&gt;&quot; + volume_date + &quot;&lt;/td&gt;&lt;td&gt;&quot; + volume_snap + &quot;&lt;/td&gt;&lt;/tr&gt;&quot;)

print(message)

if message == &quot;&quot;:
    message = &quot;&lt;tr&gt;&lt;td colspan=\&quot;6\&quot;&gt;&lt;h3&gt;No volumes in status \&quot;Available\&quot;&lt;/h3&gt;&lt;/td&gt;&lt;/tr&gt;&quot;

vols_message = (vols_header + message + vols_footer)

###########################################################################################################################################

env_var = &apos;report=&apos; + header + insts_message + vols_message + footer

print repr(env_var)

f1=open(&apos;/home/centos/env_properties.txt&apos;, &apos;w+&apos;)
f1.write(env_var)
f1.close()



EOS</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.1.5">
      <info>
        <propertiesFilePath>/home/centos/env_properties.txt</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.62">
      <recipientList>yuval.yosha@audiocodes.com,Shuky.Riechard@audiocodes.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>text/html</contentType>
      <defaultSubject>AWS daily report</defaultSubject>
      <defaultContent>$report</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <postsendScript></postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo></replyTo>
      <from></from>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>