<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>orena</id>
  <fullName>Oren Assoulin</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwXGB8Anhv6DLqwKN+3sldSTTwWe1KTMYhOtOaxow2w6eWNUpGIeL8pwNEin7G/m4ZqPSSnOqILzHZgwQ5UymzkQ==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>9cd59d44-12d6-47ed-8959-61e53d4a5b39</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>635bc08231d84365068dbc45d2e80c015589ff6871953978bacb510b2d67976f</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># TRAVEL IL</string>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>AWS_Jira_Users</string>
        <string># All Cars</string>
        <string># All__Beer_Sheva</string>
        <string>Allowed RODC Password Replication Group</string>
        <string># IPP QA</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Palo_Amazon_RnD_Users_Access</string>
        <string>Citrix_Allow_Visio</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string>Jira leaders</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string># All Beer Sheva</string>
        <string>CI_IPP_developers</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string>#IP Phone Automation</string>
        <string>365_Lucca</string>
        <string># All ISRAEL</string>
        <string>Offer Remote Assistance Helpers</string>
        <string># IPP QA - Israel</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># IPP</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>365_MFA_Apps</string>
        <string>NewUser_Israel-BS</string>
        <string>IppSwReleases</string>
        <string>Citrix_Allow_Project</string>
      </roles>
      <timestamp>1582454302396</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Oren.Assoulin@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>eb5c50f268e9a901</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>