<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Natali Elashvili</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>X9AQA1BHDJ4y7YFhaRluQIY+fLxqMSr7N+64xdUBCcUQV7WSh2DA10Lq4g4XcOmq</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.41.3">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># All Beer Sheva</string>
        <string>authenticated</string>
        <string>AWS_Jira_Users</string>
        <string># All__Beer_Sheva</string>
        <string>Allowed RODC Password Replication Group</string>
        <string># R&amp;D ARM</string>
        <string>Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>CatalogApps_Everyone</string>
        <string>EMS_RW_Access</string>
        <string>Logistics_maintenance</string>
        <string>CI_ARM_developers</string>
      </roles>
      <timestamp>1509376410578</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.16">
      <emailAddress>Natali.Elashvili@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>