<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>Natali Elashvili</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwqysGgfwlXA1uJwOKHbwmWf2XpmCHfCEKq7eKsM7uNfOaiAKlyW8eGRs3w9ObsdNndeDAVkqlqgE6Evxd+kRhsw==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>80710130-4a10-420f-bd56-af7653fb51a4</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>1a453a371a1a06d3c8f1b3aa29a2c8e0d6831a4aeec4651da66ce80fbd6ad2e0</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># All Beer Sheva</string>
        <string>authenticated</string>
        <string>AWS_Jira_Users</string>
        <string># RnD ARM</string>
        <string># OVOC CLM</string>
        <string># All ISRAEL</string>
        <string># All__Beer_Sheva</string>
        <string>CI_EMS_Developers</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string>AudioCodes_VPN</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># OVOC</string>
        <string>CatalogApps_Everyone</string>
        <string>EMS_RW_Access</string>
        <string>Logistics_maintenance</string>
        <string>CI_ARM_developers</string>
      </roles>
      <timestamp>1542619683758</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Natali.Elashvili@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
  </properties>
</user>