<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>VERSION_NAME</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://jenkins@gerrit:29418/ARM/Arm</url>
        <credentialsId>df9bd014-71c4-4f0e-8177-456e451a86c0</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>refs/tags/parent-$VERSION_NAME</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
    </extensions>
  </scm>
  <assignedNode>arm-build</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#run the script that collect all files and creates tarball
#This script purpose is to create an Upgrade tarball from a given version

#verify argument was provided
#if [ $# -eq 0 ]
#  then
#    echo &quot;Please supply Version Name (e.g. 7.0.21.0)&quot;  &gt;&amp;3
#	exit
#fi

# set logger ###############
exec 3&gt;&amp;1 4&gt;&amp;2
trap &apos;exec 2&gt;&amp;4 1&gt;&amp;3&apos; 0 1 2 3
exec 1&gt;aws_createUpgradeTarball_log.out 2&gt;&amp;1
# Everything below will go to the file &apos;aws_createUpgradeTarball_log.out&apos;:

#VERSION_NAME=$1

# Artifactory location
artifactoryServer=https://artifactory
artifactoryRepo=libs-release-local

#create folders: /home/upgrade
if [ ! -d &quot;/home/upgrade&quot; ]; then
	echo -e &quot;\n&quot;|sudo -S mkdir /home/upgrade
fi

#download all 4 war files
wars=( TopologyManagement RoutingManager arm-frontend ARM-UI )
for i in &quot;${wars[@]}&quot;
do
	url=$artifactoryServer/$artifactoryRepo/com/ac/arm/$i/$VERSION_NAME/$i-$VERSION_NAME.war
	wget --no-check-certificate $url
done

#rename war files to a VM war name (not the same as in artifactory)
mv TopologyManagement-*.war ARM.war
mv RoutingManager-*.war RoutingManager.war
mv ARM-UI-*.war ARM-UI.war
mv arm-frontend-*.war arm-frontend.war

echo -e &quot;\n&quot;|sudo -S cp *.war /home/upgrade

#copy upgrade.pl file from common folder
echo -e &quot;\n&quot;|sudo -S cp $WORKSPACE/ArmCommon/Common/src/main/resources/upgrade/upgrade.pl /home/upgrade
#copy perl files
echo -e &quot;\n&quot;|sudo -S cp $WORKSPACE/ArmCommon/Common/VMFiles/Router/usr/local/bin/*.pl /home/upgrade
#copy conversions folder
echo -e &quot;\n&quot;|sudo -S cp -R $WORKSPACE/ArmCommon/Common/src/main/resources/upgrade/conversions /home/upgrade

#create ComponentVersions.txt
V=$(git log --pretty=format:&quot;%d&quot; . |grep &quot;tag: RoutingManager&quot; |sed -r &apos;s/^.*RoutingManager-([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+).*$/\1/&apos; |while read line ; do  if [[ $line =~ \.0$ ]]; then     lastZero=$line; else     echo $lastZero;                 break; fi; done)
echo -e &quot;\n&quot;|sudo -S echo &quot;RoutingManager=$V&quot; &gt;&gt; /home/upgrade/ComponentVersions.txt

V=$(git log --pretty=format:&quot;%d&quot; . |grep &quot;tag: TopologyManagement&quot; |sed -r &apos;s/^.*TopologyManagement-([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+).*$/\1/&apos; |while read line ; do  if [[ $line =~ \.0$ ]]; then     lastZero=$line; else     echo $lastZero;                 break; fi; done)
echo -e &quot;\n&quot;|sudo -S echo &quot;TopologyManager=$V&quot; &gt;&gt; /home/upgrade/ComponentVersions.txt

V=$(git log --pretty=format:&quot;%d&quot; . |grep &quot;tag: common&quot; |sed -r &apos;s/^.*common-([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+).*$/\1/&apos; |while read line ; do  if [[ $line =~ \.0$ ]]; then     lastZero=$line; else     echo $lastZero;                 break; fi; done)
echo -e &quot;\n&quot;|sudo -S echo &quot;ArmCommon=$V&quot; &gt;&gt; /home/upgrade/ComponentVersions.txt

git clone ssh://jenkins@gerrit:29418/ARM/arm-frontend.git
git clone ssh://jenkins@gerrit:29418/ARM/ARM-UI.git

cd $WORKSPACE/arm-frontend
V=$(git log --pretty=format:&quot;%d&quot; . |grep &quot;tag:&quot; |sed -r &apos;s/^.*([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+).*$/\1/&apos; |while read line ; do  if [[ $line =~ \.0$ ]]; then     lastZero=$line; else     echo $lastZero;                 break; fi; done)
echo -e &quot;\n&quot;|sudo -S echo &quot;arm-frontend=$V&quot; &gt;&gt; /home/upgrade/ComponentVersions.txt
cd $WORKSPACE/ARM-UI
V=$(git log --pretty=format:&quot;%d&quot; . |grep &quot;tag:&quot; |sed -r &apos;s/^.*([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+).*$/\1/&apos; |while read line ; do  if [[ $line =~ \.0$ ]]; then     lastZero=$line; else     echo $lastZero;                 break; fi; done)
echo -e &quot;\n&quot;|sudo -S echo &quot;ARM-UI=$V&quot; &gt;&gt; /home/upgrade/ComponentVersions.txt

#create tar.gz
cd $WORKSPACE
echo -e &quot;\n&quot;|sudo -S tar czfP upgrade_$VERSION_NAME.tar.gz /home/upgrade

rm -rf $WORKSPACE/arm-frontend
rm -rf $WORKSPACE/ARM-UI
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jfrog.hudson.generic.ArtifactoryGenericConfigurator plugin="artifactory@2.4.7">
      <details>
        <artifactoryName>797876730@1453721585664</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <deployReleaseRepository>
          <keyFromText></keyFromText>
          <keyFromSelect>libs-release-local</keyFromSelect>
          <dynamicMode>false</dynamicMode>
        </deployReleaseRepository>
        <stagingPlugin/>
      </details>
      <resolverDetails>
        <artifactoryName>797876730@1453721585664</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </resolverDetails>
      <deployerCredentialsConfig>
        <credentials>
          <username></username>
          <password></password>
        </credentials>
        <credentialsId></credentialsId>
        <overridingCredentials>false</overridingCredentials>
      </deployerCredentialsConfig>
      <resolverCredentialsConfig>
        <credentials>
          <username></username>
          <password></password>
        </credentials>
        <credentialsId></credentialsId>
        <overridingCredentials>false</overridingCredentials>
      </resolverCredentialsConfig>
      <deployPattern>upgrade_$VERSION_NAME.tar.gz=&gt;com/ac/arm/upgrade/$VERSION_NAME/
</deployPattern>
      <resolvePattern></resolvePattern>
      <matrixParams></matrixParams>
      <deployBuildInfo>true</deployBuildInfo>
      <includeEnvVars>false</includeEnvVars>
      <envVarsPatterns>
        <includePatterns></includePatterns>
        <excludePatterns>*password*,*secret*</excludePatterns>
      </envVarsPatterns>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
      <multiConfProject>false</multiConfProject>
    </org.jfrog.hudson.generic.ArtifactoryGenericConfigurator>
  </buildWrappers>
</project>