<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>Elad Marashe</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwCJQXUmEqrrJojIZQCUl+Mxe4+mIYs8PBP7uoI/fXU9y0tOOIBuSBRjddq7Oxvjadd9TOL1rUnaWv78HVKPaR7A==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>9889d825-f3dc-48ab-8f1f-9080d2fa9e9f</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>c5a7ddd2b224c5a711d8d476eefb60cd064d467900ed9996c56fb75338103020</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed>
        <string>executors</string>
        <string>buildQueue</string>
      </collapsed>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Elad.Marashe@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>CI_IPP_developers</string>
        <string>authenticated</string>
        <string>Password Manager Apply</string>
        <string>AWS_Jira_Users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string>SSL_TandemG</string>
        <string># IPP RnD – Israel</string>
        <string># IPP</string>
        <string>Linuxusers</string>
        <string># ClearCase R&amp;D</string>
        <string># RnD Israel</string>
        <string># IPP RnD</string>
        <string># IPP TandemG</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>IppSwReleases</string>
        <string>CatalogApps_Everyone</string>
      </roles>
      <timestamp>1547544152200</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>