<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>save the newest 3 ARM Ami&apos;s and delete the rest</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>sanjer</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 05 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>python &lt;&lt;-EOS

import boto3
import collections
import datetime
import time
import sys


def deleteAmis (imagesList):
	 count=0
	 sortedAmis = sorted(imagesList,key=lambda im: im.creation_date, reverse=True)
	 for image in sortedAmis:
     	 print(&quot;image %s is %s&quot; % (count, image.name))
     	 if count &gt;= 0:
            print &quot;Delete AmI %s&quot; % image.id
            #image.deregister()
 	    # Search for additional snapshots for the current image and delete them
            for snapshot in snapshots:
                 if snapshot[&apos;Description&apos;].find(image.id) &gt; 0:
                    print &quot;Deleting snapshot &quot; + snapshot[&apos;SnapshotId&apos;] + &quot; from AMI &quot; + image.id
                    #snap = ec.delete_snapshot(SnapshotId=snapshot[&apos;SnapshotId&apos;])
			tag=image.name.split(&apos;_&apos;)
			print &quot;Delete OVA from S3 Bucket &quot; +bucket+&quot;/&quot;+tag[1]
            #bucket.objects.filter(Prefix=tag[1]).delete
     	 count=count+1          


ec = boto3.client(&apos;ec2&apos;, region_name=&apos;eu-central-1&apos;)
ec2 = boto3.resource(&apos;ec2&apos;, region_name=&apos;eu-central-1&apos;)
s3 = boto3.resource(&apos;s3&apos;, region_name=&apos;eu-central-1&apos;)
bucket = s3.Bucket(&apos;arm-ova2ami&apos;)
boto3.set_stream_logger(&apos;boto&apos;)
filters = [{&apos;Name&apos;:&apos;owner-id&apos;, &apos;Values&apos;:[&apos;858367874798&apos;]}]
images = ec2.images.filter(Filters=filters)
# Select all snapshots owned by me
snapshots = ec.describe_snapshots(MaxResults=1000, OwnerIds=[&apos;858367874798&apos;])[&apos;Snapshots&apos;]
imagesListArmConf = []
imagesListArmRouter = []
# Loop through each image of our current instance
for image in images:
	for tag in image.tags:
    	if tag[&apos;Key&apos;] == &apos;Branch&apos; and tag[&apos;Value&apos;].startswith(&apos;ARM-Conf_&apos;):
        	imagesListArmConf.append(image)
		if tag[&apos;Key&apos;] == &apos;Branch&apos; and tag[&apos;Value&apos;].startswith(&apos;ARM-Router_&apos;):
			imagesListArmRouter.append(image)    

 
print &quot;images of ARM Router&quot;
deleteAmis(imagesListArmRouter)
print &quot;images of ARM COnfigurator&quot;
deleteAmis(imagesListArmConf) 


 
EOS</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>