<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>Static Code Analysis&#13;
java --&gt; pmd, findbugs&#13;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.13">
      <siteName>http://acjira:8080/</siteName>
    </hudson.plugins.jira.JiraProjectProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>30</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.2.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://jenkins@gerrit:29418/ARM/Arm</url>
        <credentialsId>df9bd014-71c4-4f0e-8177-456e451a86c0</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout>
        <deleteUntrackedNestedRepositories>false</deleteUntrackedNestedRepositories>
      </hudson.plugins.git.extensions.impl.CleanBeforeCheckout>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>true</shallow>
        <noTags>false</noTags>
        <reference/>
        <depth>10</depth>
        <honorRefspec>false</honorRefspec>
      </hudson.plugins.git.extensions.impl.CloneOption>
    </extensions>
  </scm>
  <assignedNode>arm-centos8-build</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H H(1-2) * * 0</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#add AudioCodes Certificate
audc_path=${HOME}/AUDC2016.cer
java_path=$(readlink -f $(which java))
if [[ $java_path =~ "jre" ]]
then
        java_path=$(readlink -f $(which java) | sed 's/jre.*/jre/')
else
	java_path=$(readlink -f $(which java) | awk -F 'bin' '{print $1}')
fi
cd $java_path
sudo bin/keytool -import -storepass changeit -noprompt -alias audc2016 -keystore lib/security/cacerts -trustcacerts -file $audc_path
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>jver=$(java -version 2&gt;&amp;1 | grep version | cut -d '"' -f 2)
echo "Java version set to: $jver"

jcver=$(javac -version 2&gt;&amp;1 | cut -d ' ' -f 2)
echo "javac version set to: $jcver"

# Set JAVA_HOME
JAVA_HOME=$(readlink -f $(which java) | awk -F '/bin' '{print $1}')
sudo sh -c "echo \"export JAVA_HOME=${JAVA_HOME}\" &gt;&gt; /etc/environment"
. /etc/environment

#new scrip to prepare database env
#this is per Igor request for his new trick to reduce unit-tests time
#It is not Submitted yet so if there is no such file then exit 0 and continue to next build step
bash ArmCommon/Common/.deploy/start_maraiadb_databases.sh || exit 0

#Per Kobi Levi request:
#adding permissions for Router to write into folder /usr/local/etc/
sudo chmod 777 /usr/local/etc</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Maven>
      <targets>clean install</targets>
      <mavenName>Maven_v363</mavenName>
      <pom>pom.xml</pom>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider" plugin="config-file-provider@2.18">
        <settingsConfigId>58cfb176-1f6a-4803-af9e-4dcd0167ca1a</settingsConfigId>
      </globalSettings>
      <injectBuildVariables>false</injectBuildVariables>
    </hudson.tasks.Maven>
    <hudson.tasks.Shell>
      <command>## Run pmd on entire repository java files
cat &lt;&lt;-EOF &gt; ~/.netrc
machine test-gerrit login jenkins password $jpass
machine gerrit login jenkins password $jpass
EOF

cd ${WORKSPACE}/..

rm -rf tools
git -c http.sslverify=false clone -n https://gerrit/devops/tools

cd tools
git checkout -f origin/master -- sputnik/gerrit/arm-pmd.properties
git checkout -f origin/master -- pmd/audc-ruleset.xml
cp sputnik/gerrit/arm-pmd.properties ${WORKSPACE}/
cp pmd/audc-ruleset.xml ${WORKSPACE}/

cd ${WORKSPACE}

/opt/pmd/bin/run.sh pmd -d . -f xml -language java -R audc-ruleset.xml -encoding UTF-8 -failOnViolation false &gt; pmd.xml

/usr/bin/sed -i -n '/xml/,$p' pmd.xml


## Run FindBugs on entire repository java files
#/opt/findbugs/bin/findbugs -textui -maxHeap 2048 -medium -xml -output findbugs.xml \
#${WORKSPACE}/ArmCommon/Common/target/*.jar \
#${WORKSPACE}/ArmCdrUtil/ArmCdrUtil/target/arm-cdr-util-*-SNAPSHOT.jar \
#${WORKSPACE}/LdapConnector/LdapConnector/target/*.jar \
#${WORKSPACE}/RoutingManager/RoutingManager/target/*.war \
#${WORKSPACE}/TopologyManager/TopologyManagement/target/*.war

## Run SpotBugs on entire repository java files
/opt/spotbugs/bin/spotbugs -textui -maxHeap 2048 -medium -xml -output spotbugs.xml \
${WORKSPACE}/ArmCommon/Common/target/*.jar \
${WORKSPACE}/ArmCdrUtil/ArmCdrUtil/target/arm-cdr-util-*-SNAPSHOT.jar \
${WORKSPACE}/LdapConnector/LdapConnector/target/*.jar \
${WORKSPACE}/RoutingManager/RoutingManager/target/*.war \
${WORKSPACE}/TopologyManager/TopologyManagement/target/*.war
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <io.jenkins.plugins.analysis.core.steps.IssuesRecorder plugin="warnings-ng@8.1.0">
      <analysisTools>
        <io.jenkins.plugins.analysis.warnings.Pmd>
          <id/>
          <name/>
          <pattern>**/pmd.xml</pattern>
          <reportEncoding>UTF-8</reportEncoding>
          <skipSymbolicLinks>false</skipSymbolicLinks>
        </io.jenkins.plugins.analysis.warnings.Pmd>
        <io.jenkins.plugins.analysis.warnings.SpotBugs>
          <id/>
          <name/>
          <pattern>**/spotbugs.xml</pattern>
          <reportEncoding>UTF-8</reportEncoding>
          <skipSymbolicLinks>false</skipSymbolicLinks>
          <useRankAsPriority>true</useRankAsPriority>
        </io.jenkins.plugins.analysis.warnings.SpotBugs>
      </analysisTools>
      <sourceCodeEncoding/>
      <sourceDirectory/>
      <ignoreQualityGate>false</ignoreQualityGate>
      <ignoreFailedBuilds>true</ignoreFailedBuilds>
      <referenceJobName>-</referenceJobName>
      <failOnError>false</failOnError>
      <healthy>0</healthy>
      <unhealthy>0</unhealthy>
      <minimumSeverity plugin="analysis-model-api@8.0.1">
        <name>LOW</name>
      </minimumSeverity>
      <filters>
        <io.jenkins.plugins.analysis.core.filter.IncludePackage>
          <pattern>.*(com.ac|com.audioCodes).*</pattern>
        </io.jenkins.plugins.analysis.core.filter.IncludePackage>
      </filters>
      <isEnabledForFailure>true</isEnabledForFailure>
      <isAggregatingResults>false</isAggregatingResults>
      <isBlameDisabled>false</isBlameDisabled>
      <isForensicsDisabled>false</isForensicsDisabled>
      <qualityGates/>
      <trendChartType>AGGREGATION_TOOLS</trendChartType>
    </io.jenkins.plugins.analysis.core.steps.IssuesRecorder>
    <hudson.tasks.Mailer plugin="mailer@1.32">
      <recipients>Shuky.Riechard@audiocodes.com yuval.yosha@audiocodes.com ben.magriso@audiocodes.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.69">
      <recipientList>cc:Shuky.Riechard@audiocodes.com,Lina.Fine@audiocodes.com,Natan.Merfish@audiocodes.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern/>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>Weekly Code Analysis for ARM</defaultSubject>
      <defaultContent>Please review Code analysis reports from the last weekly run:
$JOB_URL

Regards,
DevOps Team
</defaultContent>
      <attachmentsPattern/>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <from/>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.19">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>120</timeoutMinutes>
      </strategy>
      <operationList/>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <EnvInjectPasswordWrapper plugin="envinject@2.3.0">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>jpass</name>
          <value>{AQAAABAAAAAQrVknZ+5SqjkLWgUm71sSa5eEeky8f0ufuwFCYx563sQ=}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
  </buildWrappers>
</project>