<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Oleg Friedman</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>KT16kDhqIRVQWpOmMwnuKuSPWLSwZAAcov3hgSL145MQV7WSh2DA10Lq4g4XcOmq</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.26">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.41.3">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>Users</string>
        <string>AudioCodes_VPN</string>
        <string>CMBU</string>
        <string>Domain Users</string>
        <string># CMBU</string>
        <string># CMBU-R&amp;D</string>
        <string># ClearCase R&amp;D</string>
        <string># Agile users</string>
        <string>Password Manager Apply</string>
        <string>ActionBase Users</string>
        <string># All Airport City</string>
        <string>Mailvision Branch Office Users</string>
        <string># IPP New Version Notification</string>
        <string>Logistics_maintenance</string>
        <string>CatalogApps_Everyone</string>
        <string>Vopp</string>
        <string># All AudioCodes</string>
        <string>Offer Remote Assistance Helpers</string>
        <string># IP Phone R&amp;D</string>
        <string>authenticated</string>
        <string>CI_IPP_developers</string>
        <string>Citrix_Allow_Project</string>
        <string># R&amp;D Israel</string>
        <string>Certificate Service DCOM Access</string>
        <string># All Dinner</string>
        <string>CI_IPP_admins</string>
        <string>Agile users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string># All ISRAEL</string>
      </roles>
      <timestamp>1465798296829</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.16">
      <emailAddress>Oleg.Friedman@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>