<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>amil</id>
  <fullName>Ami Lahav</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwRJm4br4ZB1XSIrecXF7yXWqx0WRDFa7/TzeVjQwrXeBi/sK8aAXniEqWOJFGQ98PSYP1v9l+zsT47CqGmXUd+w==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>1a3f863c-252c-49e4-83de-fff1981a1c13</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>2d5ec54a28de3fb0bb2b5342d63fd6cc723e9da1f5321f877a1a0ddba61e9fd2</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># TRAVEL IL</string>
        <string>authenticated</string>
        <string># IPP Support – Israel</string>
        <string># IPP QA</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>WirelessUsers</string>
        <string># R&amp;D Support Escalation</string>
        <string># Support Escalation</string>
        <string># All Sales</string>
        <string># All Lunch</string>
        <string>Logistics_maintenance</string>
        <string>CI_IPP_developers</string>
        <string>CMBU</string>
        <string># MP20x deliveries</string>
        <string>Password Manager Apply</string>
        <string># All ISRAEL</string>
        <string># Support KB Editors</string>
        <string>Offer Remote Assistance Helpers</string>
        <string># IPP QA - Israel</string>
        <string>Mailvision Branch Office Users</string>
        <string># All Cellular</string>
        <string>Vopp</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string># All AudioCodes</string>
        <string># Chips-Support</string>
        <string>Certificate Service DCOM Access</string>
        <string># All Airport City</string>
        <string># All_Lync_Pilot</string>
        <string>Agile users</string>
        <string>AWS_Jira_Users</string>
        <string># All Support</string>
        <string># All Cars</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>FTP_2G</string>
        <string># All Cellcom</string>
        <string>sp365-Sales-Read</string>
        <string>Palo_Access_to_DMZ_IPP_Mgmt</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string># PBX</string>
        <string>Jira leaders</string>
        <string>BIS Service</string>
        <string>CatalogApps_Everyone</string>
        <string># Gym</string>
        <string># IPP Support</string>
        <string>SPS_Allow_PM</string>
        <string># IPP</string>
        <string>Linuxusers</string>
        <string>Domain Users</string>
        <string>Sp365-rdipp-modify</string>
        <string>IppSwReleases</string>
        <string># ippbeta</string>
      </roles>
      <timestamp>1550488882661</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Ami.Lahav@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>133fc3c8052af1e8</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>