<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>igorm</id>
  <fullName>Igor Maller</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw0NOnIqOSbl4FqYR74zyA2ZYLarwaaKKuoRXNbXUQa1bot/nybfh1qizPQNr78IiaY2Z7YSvBNTnWvuramiSkBw==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>ad75698d-be7d-4b60-80e2-73773e2ad49f</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>8fa8ca372e98b76dc16fe9297e1577af41c63305e9e23bc626df41f3d19421ac</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string># ARM</string>
        <string>AWS_Jira_Users</string>
        <string># RnD ARM</string>
        <string># All__Beer_Sheva</string>
        <string>cc_users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Palo_ARM_access_BS_Internal_Users</string>
        <string>Palo_Access_Aws_Azure-ssh</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string># All Beer Sheva</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string># RnD ARM Configurator</string>
        <string># All ISRAEL</string>
        <string># RnD Solutions SW group</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string>AudioCodes_VPN</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># RnD ARM UI</string>
        <string>CI_ARM_developers</string>
      </roles>
      <timestamp>1573454602618</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Igor.Maller@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>0e98f9beb086521f</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>