<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>seanx</id>
  <fullName>Sean Xie</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwZgPUARfsEV1HNX9Y1PiaYB2F2siMFXvh1Csba5c0Yd1cCy5p0bxDHhoKAQwN/8dvMBhmePdotIkkqB3WXmymkA==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>a7c4cd9c-fbc4-4964-822c-89f8f8d87425</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>0d5811f5035a3564ee25261387987d8bca50ac2c209c9ca9085b206dd5e69f25</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed>
        <string>buildQueue</string>
      </collapsed>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># ROW employees</string>
        <string>authenticated</string>
        <string>AWS_Jira_Users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Palo_Amazon_RnD_Users_Access</string>
        <string># ClearCase R&amp;D</string>
        <string># SZ Office</string>
        <string>CatalogApps_Everyone</string>
        <string># IPP Kenny SW SZ Infra</string>
        <string>CI_IPP_developers</string>
        <string># IPP RnD – SZ</string>
        <string>Password Manager Apply</string>
        <string># Abroad</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string>NewUser_China</string>
        <string># IPP</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string># IPP RnD</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
      </roles>
      <timestamp>1550462034293</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Sean.Xie@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>fd869934c1d6caae</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>