<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Yuval Yosha</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>2mJ81Bz91Tu97LuX/6TibeXoISu/GPb1VLiIe06i1yoQV7WSh2DA10Lq4g4XcOmq</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.24">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.40.5">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.16">
      <emailAddress>yuval.yosha@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>BackUpAlert</string>
        <string>Remote Desktop Users</string>
        <string>Domain Admins</string>
        <string>Users</string>
        <string>Denied RODC Password Replication Group</string>
        <string>Operation</string>
        <string>AudioCodes_VPN</string>
        <string>RTCUniversalServerAdmins</string>
        <string># VM Admins</string>
        <string>RTCUniversalGlobalReadOnlyGroup</string>
        <string>Domain Users</string>
        <string>Admin_FullAccess</string>
        <string>RTCUniversalServerReadOnlyGroup</string>
        <string>OPERATIONS</string>
        <string>Exchange Organization Administrators</string>
        <string>CSServerAdministrator</string>
        <string>Exchange View-Only Administrators</string>
        <string>Alerts</string>
        <string># IT_System_department</string>
        <string>ExchangeAdmins</string>
        <string>Oncall</string>
        <string>Logistics_maintenance</string>
        <string>DHCP Administrators</string>
        <string># Operation</string>
        <string># All AudioCodes</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>NetappAdmins</string>
        <string>ConfigMgr Remote Control Users</string>
        <string>RTCUniversalGlobalWriteGroup</string>
        <string>WirelessUsers</string>
        <string>CV_Admins</string>
        <string>VM admins</string>
        <string>OraSec</string>
        <string>Certificate Service DCOM Access</string>
        <string>IT</string>
        <string># All Dinner</string>
        <string>OraAdmin</string>
        <string>NetMonitor</string>
        <string># Operation Israel</string>
        <string>Organization Management</string>
        <string>IT_NetApp_OpMan</string>
        <string>WSUS Administrators</string>
        <string>iwww</string>
        <string># All_Lync_Pilot</string>
        <string># AUDC - Nagios Agent (HQ)</string>
        <string>Portnoxaccess</string>
        <string>IT License</string>
        <string>TX_ops</string>
        <string>CatalogApps_Office</string>
        <string>Linuxusers</string>
        <string># IT Infrastructure</string>
        <string>Recipient Management</string>
        <string>Infrastructure</string>
        <string>ActionBase Users</string>
        <string>Password Manager Apply</string>
        <string># All Airport City</string>
        <string>Mailvision Branch Office Users</string>
        <string>RTCUniversalUserReadOnlyGroup</string>
        <string># All Cellular</string>
        <string>CatalogApps_Everyone</string>
        <string>CSUserAdministrator</string>
        <string>Exchange Public Folder Administrators</string>
        <string>Administrators</string>
        <string># All Cars</string>
        <string>authenticated</string>
        <string>SMSAdmin</string>
        <string>e2kpro</string>
        <string>View-Only Organization Management</string>
        <string># All Cellcom</string>
        <string>SSL_Admin</string>
        <string>Public Folder Management</string>
        <string>itstaff</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>CatalogApps_IT</string>
        <string>Admins</string>
        <string>CSAdministrator</string>
        <string># All ISRAEL</string>
        <string>Exchange Recipient Administrators</string>
      </roles>
      <timestamp>1455089369611</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>