<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>this job is triggered from URL&#13;
purpose: start forHadas_ovoc_sanityInstall_master instances &#13;
No build job. Only start the instance.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.13">
      <siteName>http://acjira:8080/</siteName>
    </hudson.plugins.jira.JiraProjectProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>30</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>sanjer</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>ovoc</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># resume all this group stateful
#curl -X PUT -H "Content-Type: application/json" -H "Authorization: Bearer ${spotinst_token}" \
#-d '{"capacity": {"minimum": 0,"maximum": 3,"target": 3}}' \
#"https://api.spotinst.io/aws/ec2/group/${GROUP_ID}/capacity?accountId=${ACCOUNT_ID}?shouldResumeStateful=true"
echo "***********************************************************************************"
echo "Starting 1 instance of STATEFUL_ipp_android-Tests"
echo "***********************************************************************************"

ACCOUNT_ID="act-1fd9f587"
MI_ID="smi-3dda181f"

curl -X PUT -H "Content-Type: application/json" -H "Authorization: Bearer ${spotinst_token}" \
"https://api.spotinst.io/aws/ec2/managedInstance/${MI_ID}/resume?accountId=${ACCOUNT_ID}"


</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.32">
      <recipients>ben.magriso</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <EnvInjectPasswordWrapper plugin="envinject@2.3.0">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>spotinst_token</name>
          <value>{AQAAABAAAABQQWjdUP9Ttp4COTQ2DDWksEbHPdh7ZC5yCsciq+5+nBwkM46h5GKlGxKpGlvhz4y1LiLIIwdEGzp0bJhzb2GKYj5BHI8lAfZ2cyTdlXjrrXv6MEOk456bEGmEF6kaTl/p}</value>
        </EnvInjectPasswordEntry>
        <EnvInjectPasswordEntry>
          <name>sbc_password</name>
          <value>{AQAAABAAAAAQiIf7/LnXO1Tqnn22j1D7oeLageWvB6WtIiBrxKy6Oks=}</value>
        </EnvInjectPasswordEntry>
        <EnvInjectPasswordEntry>
          <name>sbc_password_token</name>
          <value>{AQAAABAAAAAgSB0CJeqGhuQQaelb7GhE35S6E3+yR3SiGf3oUEAgMK7qTmo18ePRhq5RRVlM22EP}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
  </buildWrappers>
</project>