<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>yuvaly</id>
  <fullName>Yuval Yosha</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwdlvQxxNwrSSRTkFpMVRNBaaisC4aAxURpxt+UgAeCxnqwa2UUv+mmH58yT6e4huPeIOcSYuRN53FAJ2H/+AZ+w==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>f3df4650-f80d-4bdc-a8b4-ef90407a8b82</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>ef610fd018f9de0ca4dc78279f2266d392573f0a8087e8db5d2b872b9748d622</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.15">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>yuval.yosha@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>Palo_AWS-RND-BKP_NTWS</string>
        <string>AWS_Jira_Users</string>
        <string>AI-Engineering</string>
        <string># All Cars</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string># VM Admins</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string># IT_System_department</string>
        <string># All ISRAEL</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>AI-SmartTAP_RW</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># All Cellular</string>
        <string>Linuxusers</string>
        <string>DevOps</string>
        <string>AudioCodes_VPN</string>
        <string>Amazon_RnD_VPN</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>Palo_Access_To_Amazon_RnD_Admins</string>
        <string># R&amp;D DevOps</string>
      </roles>
      <timestamp>1573367668865</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys>ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDm0T31cWatMA2IoUhExuWGy0yUK2qDs2+Gfr6hgZZstZ5u02cEvUI/SMmUXoyhy93MfkjW4doMjloS5pQ48mEIauY/gG2ngYso/d2eZ4e+yR+mSM7iyFO0dQMYcu58s0+6pw5BvUfIX5zxrBUMjJCDksK94Iecr32aSCqDZUzlj67BymttXAoLZan1/AtkoqYwkWq70VmiDl6VaTv7TUgRQoF4PapbZF27jxyBkKto90RgkjUrZDoYOL38JjX+80ECV7J9ajfP4vwPxX0WHjqOT+22mmNs9gPi28so1F71SzNv8eXyGRhce6I8lYXxvQv7aeK1nVQd0oGbU/EZ0aJ3 me@yuvaly-ws
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDa+v63AJvZHoJTm0T4MhOKJXz3qS9Jckwu67g/UlAkbVnNNTMXadxghfyHO5k6yeYprIWpjow2++zbUUIcjUVPEYWqRhylc/ci2e4+iIp0m/SvYrcxDzwGrJmWctxoiiIQ0lIvU3Z6vywZ598ATQGkHBsVrJiaPd4lPNbYklHhI0Eig6Yqx1Zk8tv09JdPygtux7oKOt4mQZ926S1k78onVImSYtGGtyvZQu8IL73wPjo3hiHRwSBXtXM1WazaW7y9l0sXLi6M/by69TK2ul5t9aTXi7y7jvpXLwz4Xli8mCY8V2urIKTSrdCTx36z+4YDVfq1FViLCrigYIpA7FcL yuvaly@yuvaly-pc</authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>9b9dc1e52bbd196d</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>