<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>kfirg</id>
  <fullName>Kfir Gershon</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwUXi1ZYJu+ZZFOO0u7HxXoaE4Hsf9uG5+iq57dT3sxXStFhJlL2Ac6XdfJaXouxfzTcyfRciruxQ4BLY0+1Rx1Q==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>440b50f1-b753-4c60-909f-2d59e90e9da5</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>6498d95a82087c5c5596e5638a8d2bf2a8fc28a01c858c2d8f0fde0d5d2cb205</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># All Beer Sheva</string>
        <string>authenticated</string>
        <string>Password Manager Apply</string>
        <string># All ISRAEL</string>
        <string># All__Beer_Sheva</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string>AudioCodes_VPN</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
      </roles>
      <timestamp>1567412130733</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Kfir.Gershon@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>230b947b7a51e34a</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>