<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>artury</id>
  <fullName>Artur Yuzkiv</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw+xF3Up9ey/rHHWeKfbWO1fAXHhtBQDC2tnilOOxTuB7o4ERyZlcgFVAJyWAFOT4fuEBT79ORnflMZdEumNSyhQ==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>e6323ca5-7613-4fdc-8b49-82eebdf0a11d</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>3fc4be6a7ed2e3e762602a172a356ac0d0cbcec9d201973ee5405a26d638f5a8</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Artur.Yuzkiv@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>Password Manager Apply</string>
        <string>AWS_Jira_Users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># IPP</string>
        <string>SSL_Ukraine_Chip</string>
        <string># ClearCase R&amp;D</string>
        <string># RnD Israel</string>
        <string># IPP RnD</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>Global Logic</string>
        <string># IPP RnD – GL</string>
        <string>CatalogApps_Everyone</string>
      </roles>
      <timestamp>1557410940773</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>3ba9e8a21d90eefd</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>