<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Following API: -suiteName, -configName, -firmwareVersionMain,&#xd;
suiteName - name of the predefined suite, e.g. Sanity440Lync_basic&#xd;
configName - name of the predefined session config, e.g. Sanity440LyncConfig&#xd;
firmwareVersionMain - name of the firmware file which should be test, e.g. UC430HD_2.0.3.16&#xd;
1. Before running, put a firmware version to \\isr0214-34401\firmwares  (isr0214-34401 = 10.59.0.87) , also it is need to put relevant firmwares for other phones. If tested firmware is UC440HD_3.0.0.65, it is need also to put all other &#xd;
available firmwares: UC430HD_3.0.0.65, UC420HD_3.0.0.65, UC405_3.0.0.65 (note that for 405 ther is no &apos;HD&apos; in firmware name);&#xd;
2. Example for run: tclsh AtaExec.tcl -configName Sanity440LyncConfig.ACDev.tcl -suiteName Sanity440Lync_basic.suite -firmwareVersionMain UC440HD_3.0.0.65.img&#xd;
&#xd;
Should work on 10.59.1.150 - ippSanityTest02</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.1">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ConfigName</name>
          <description>Sanity or Full - The name should be Sanity440LyncConfig.ACDev.tcl or Full440LyncConfig.ACDev.tcl</description>
          <defaultValue>Sanity</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>model</name>
          <description>model :440/430/320/440/405</description>
          <defaultValue>440</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LASTBL</name>
          <description>Example: 3.0.0.299</description>
          <defaultValue>None</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>ippSanityTest02</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 19 * * *
</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>curl -s http://ippauto1/index.php/status/show.xml &gt; show.xml&#xd;
type show.xml&#xd;
type show.xml | findstr status.free./status&#xd;
if ErrorLevel 1 Exit 1&#xd;
set PATH=%PATH%;c:\cygwin\bin&#xd;
&#xd;
set ARTIFACTORY=https://artifactory/api/storage/ipp-release/com/ac/ipp/SFB/3.0.1&#xd;
if &quot;%LASTBL%&quot;==&quot;None&quot; (&#xd;
  curl -k -s -X GET %ARTIFACTORY% | findstr uri | cut -d&quot;&quot;&quot;&quot; -f4 | grep -v artifactory | cut -c 2- | sort /R &gt; LASTBL.txt&#xd;
  set /P LASTBL=&lt;LASTBL.txt&#xd;
  more +1 LASTBL.txt &gt; BeLASTBL.txt&#xd;
  set /P BeLASTBL=&lt;BeLASTBL.txt&#xd;
  set COUNTER=0&#xd;
)&#xd;
&#xd;
:RunAgain&#xd;
set /A COUNTER=%COUNTER%+1&#xd;
if %model%==405 ( set ImageName=UC%model%_%LASTBL%_ce4.img ) else ( set ImageName=UC%model%HD_%LASTBL%.img )&#xd;
set Error=0&#xd;
net use z: /DELETE&#xd;
net use z: \\10.59.0.87\Firmwares&#xd;
cd C:\IpPhoneAutomation\ATA&#xd;
curl -k -s -X GET %ARTIFACTORY%/%LASTBL%/440HD/UC440HD_%LASTBL%.img | grep uri | wc -l &gt; 440HD.txt&#xd;
set /P 440HD=&lt;440HD.txt&#xd;
&#xd;
IF %440HD%==1 (&#xd;
  IF NOT EXIST z:\UC440HD_%LASTBL%.img curl -k -s -X GET %ARTIFACTORY%/%LASTBL%/440HD/UC440HD_%LASTBL%.img --output z:\UC440HD_%LASTBL%.img&#xd;
  IF NOT EXIST z:\UC430HD_%LASTBL%.img curl -k -s -X GET %ARTIFACTORY%/%LASTBL%/430HD/UC430HD_%LASTBL%.img --output z:\UC430HD_%LASTBL%.img&#xd;
  IF NOT EXIST z:\UC420HD_%LASTBL%.img curl -k -s -X GET %ARTIFACTORY%/%LASTBL%/420HD/UC420HD_%LASTBL%.img --output z:\UC420HD_%LASTBL%.img&#xd;
  IF NOT EXIST z:\UC405_%LASTBL%_ce4.img curl -k -s -X GET %ARTIFACTORY%/%LASTBL%/405/UC405_%LASTBL%.img --output z:\UC405_%LASTBL%.img&#xd;
) else set Error=1&#xd;
if %Error%==0 tclsh AtaExec.tcl -configName %ConfigName%%model%LyncConfig.tcl -suiteName %ConfigName%%model%Lync_basic.suite -firmwareVersionMain %ImageName%&#xd;
if ErrorLevel 1 set Error=1&#xd;
if %Error%==1 (&#xd;
  echo Find Error&#xd;
  set LASTBL=%BeLASTBL%&#xd;
  if %COUNTER% EQU 1 goto RunAgain&#xd;
  Exit 1&#xd;
) else (&#xd;
  echo Execute phase 2&#xd;
  tclsh AtaExec.tcl -configName %ConfigName%%model%LyncConfig.tcl -suiteName %ConfigName%%model%overNight_phase2.suite -firmwareVersionMain %ImageName%&#xd;
  if ErrorLevel 1 Exit 1&#xd;
)&#xd;
</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <com.chikli.hudson.plugin.naginator.NaginatorPublisher plugin="naginator@1.17.1">
      <regexpForRerun>&lt;xml&gt;&lt;status&gt;busy&lt;/status&gt;&lt;/xml&gt;</regexpForRerun>
      <rerunIfUnstable>false</rerunIfUnstable>
      <rerunMatrixPart>false</rerunMatrixPart>
      <checkRegexp>true</checkRegexp>
      <regexpForMatrixStrategy>TestParent</regexpForMatrixStrategy>
      <delay class="com.chikli.hudson.plugin.naginator.FixedDelay">
        <delay>1800</delay>
      </delay>
      <maxSchedule>12</maxSchedule>
    </com.chikli.hudson.plugin.naginator.NaginatorPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.17.1">
      <strategy class="hudson.plugins.build_timeout.impl.NoActivityTimeOutStrategy">
        <timeoutSecondsString>3600</timeoutSecondsString>
      </strategy>
      <operationList/>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <org.jenkinsci.plugins.testinprogress.TestInProgressBuildWrapper plugin="testInProgress@1.4"/>
  </buildWrappers>
</project>