<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>if new code then build and deploy ovoc-7.4.0.zip&#13;
if new code then build and deploy ovoc-7.4.2000.zip&#13;
if new code then build and deploy ovoc-7.4.3000.zip&#13;
if new code then build and deploy ovoc-7.6.zip</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.13">
      <siteName>http://acjira:8080/</siteName>
    </hudson.plugins.jira.JiraProjectProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GERRIT_BRANCH</name>
          <description/>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GERRIT_PATCHSET_REVISION</name>
          <description/>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.2.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://jenkins@gerrit:29418/web-ui/ovoc</url>
        <credentialsId>df9bd014-71c4-4f0e-8177-456e451a86c0</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>$GERRIT_BRANCH</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <browser class="hudson.plugins.git.browser.GitBlitRepositoryBrowser">
      <url>https://gerrit/plugins/gitblit/</url>
      <projectName>web-ui/ovoc</projectName>
    </browser>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.BuildChooserSetting>
        <buildChooser class="com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTriggerBuildChooser" plugin="gerrit-trigger@2.30.5">
          <separator>#</separator>
        </buildChooser>
      </hudson.plugins.git.extensions.impl.BuildChooserSetting>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>false</shallow>
        <noTags>false</noTags>
        <reference/>
        <timeout>30</timeout>
        <depth>0</depth>
        <honorRefspec>false</honorRefspec>
      </hudson.plugins.git.extensions.impl.CloneOption>
    </extensions>
  </scm>
  <assignedNode>Web-UI-Win-Dynamic</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger plugin="gerrit-trigger@2.30.5">
      <spec/>
      <gerritProjects>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
          <compareType>PLAIN</compareType>
          <pattern>web-ui/ovoc</pattern>
          <branches>
            <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
              <compareType>REG_EXP</compareType>
              <pattern>^((7.8.1000_ng2|7.8.1000_ng7).+|(?!(7.8.1000_ng2|7.8.1000_ng7)).*)$</pattern>
            </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
          </branches>
          <disableStrictForbiddenFileVerification>false</disableStrictForbiddenFileVerification>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
      </gerritProjects>
      <dynamicGerritProjects class="empty-list"/>
      <skipVote>
        <onSuccessful>false</onSuccessful>
        <onFailed>false</onFailed>
        <onUnstable>false</onUnstable>
        <onNotBuilt>false</onNotBuilt>
      </skipVote>
      <silentMode>false</silentMode>
      <notificationLevel/>
      <silentStartMode>false</silentStartMode>
      <escapeQuotes>true</escapeQuotes>
      <nameAndEmailParameterMode>PLAIN</nameAndEmailParameterMode>
      <dependencyJobsNames/>
      <commitMessageParameterMode>BASE64</commitMessageParameterMode>
      <changeSubjectParameterMode>PLAIN</changeSubjectParameterMode>
      <commentTextParameterMode>PLAIN</commentTextParameterMode>
      <buildStartMessage/>
      <buildFailureMessage/>
      <buildSuccessfulMessage/>
      <buildUnstableMessage/>
      <buildNotBuiltMessage/>
      <buildUnsuccessfulFilepath/>
      <customUrl/>
      <serverName>gerritHost</serverName>
      <triggerOnEvents>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginChangeMergedEvent/>
      </triggerOnEvents>
      <dynamicTriggerConfiguration>false</dynamicTriggerConfiguration>
      <triggerConfigURL/>
      <triggerInformationAction/>
    </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!c:\cygwin64\bin\bash --login -i
##!C:\Program Files\Git\bin\bash --login -i
set -e
cd $WORKSPACE

#until branch 7.8.1000 (include) use nvm 12.16.1 (npm 12.16.1 and yarn 1.5.1) from 7.8.2000 use nvm 12.16.2(npm 12.16.2 and yarn 1.22.4)
if [[ "$GERRIT_BRANCH" == "7.4"* || "$GERRIT_BRANCH" == "7.6"*  || "$GERRIT_BRANCH" == "7.8" || "$GERRIT_BRANCH" == "7.8.1000" ]]
then
	nvm use 12.16.1
else
	nvm use 12.16.2
fi


if [[ "$GERRIT_BRANCH" != "7.4"* ]] &amp;&amp; [[ "$GERRIT_BRANCH" != "7.6" ]]
then
# adding ac-infra
echo "git submodule init"
git submodule init
echo "git submodule update"
git submodule update
echo "finish submodule"
#rm -rf yarn.lock
fi


#connect repositories using https instead opf git:
git config url.https://.insteadOf git://

# we build only if jenkins checked out on the last commit in branch, else exit 0
LastGerritCommitHash=$( git ls-remote  | grep refs/heads/$GERRIT_BRANCH  | cut -f 1 | head -n 1 )
echo $LastGerritCommitHash
echo $GERRIT_PATCHSET_REVISION
if [ "$LastGerritCommitHash" == "$GERRIT_PATCHSET_REVISION" ]
then
	if [[ "$GERRIT_BRANCH" == "7.4"* ]] || [[ "$GERRIT_BRANCH" == "7.6"* ]]
	then
		output=$( netstat -ano | grep -wF 5678 ) || true
		echo "private-bower check =" $output
		if [[ -z "$output" ]]
		then private-bower &amp; sleep 15
		fi
	fi
      
      # for version 7.4.2000 and down, use nmp/bower
      if [[ "$GERRIT_BRANCH" == "7.4" || "$GERRIT_BRANCH" == "7.4.1000" || "$GERRIT_BRANCH" == "7.4.2000" ]]
      then 
      	echo "RUN:npm install"
      	npm install
      	echo "RUN: bower install --force-latest"
	  	bower install --force-latest
      # for version 7.4.3000 and up, use yarn
      else
        
      	yarn config set registry https://artifactory/api/npm/npm/
		yarn config set strict-ssl false
    	if [[ "$GERRIT_BRANCH" == "7.4"* || "$GERRIT_BRANCH" == "7.6"*  || "$GERRIT_BRANCH" == "7.8" || "$GERRIT_BRANCH" == "7.8.1000" ]]
		then 
 			echo "RUN: yarn install"
    		yarn install
    	else
    		echo "RUN: yarn i"
       	 	yarn i
   		fi
      fi
      
      #update version number before grunt dist
      #change the hard-coded "7.4.0" to branch name + jenkins build number
      # for example:  7.4.3000.235
      current_branch=`git branch --no-color -r --contains HEAD | grep -v -e '-&gt;' | head -1 | awk -F'/' '{print $NF}'`
      perl -pi -e "s/7.4.0/${current_branch}.${BUILD_NUMBER}/g" build.config.js
      
      if [[ "$GERRIT_BRANCH" == "7.4" || "$GERRIT_BRANCH" == "7.4.1000" || "$GERRIT_BRANCH" == "7.4.2000" ]]
      then
      echo "RUN: grunt dist"
      grunt dist
      else
              # set the build number as a version, and run dist
              if [ -f webpack.config.js ]; then
                  echo "*** adding Jenkins BUILD_NUMBER as a version in file webpack.config.js ***"
                  perl -pi -e "s/\"%version%\"/\"${BUILD_NUMBER}\"/g" webpack.config.js
              fi
            echo "RUN: yarn run distTest"
            yarn run distTest
            
             #kill the Proxy Server process
            pidNumber=$(netstat -ano | grep 9000 | awk '{print $5}' | head -n 1  | sed -e "s/[[:space:]]\+/ /g")
            echo "pidNumber = $pidNumber"
            if [[ ! -z "$pidNumber" ]]
            then
              echo "killing the proccess of the protractor proxy server"
              taskkill /F /PID "$pidNumber"
            fi
            if [[ "$GERRIT_BRANCH" == "7.4.3000" ]]
            then
              echo "for 7.4.3000 NO Protractor or UITests running"
              #for branch 7.6 run protractor TESTS
            elif [[ "$GERRIT_BRANCH" == "7.6" ]]
            then
                  echo "RUN: yarn run protractorProxyServer"
                  yarn run protractorProxyServer &amp; sleep 15
                  echo "RUN: yarn run protractorServer"
                  yarn run protractorServer &amp; sleep 15
                  echo "RUN: yarn run protractor"
                  yarn run protractor
                  #all others branches (7.6.1000 and up) run uiTests
            else
                  if [[ "$GERRIT_BRANCH" == "7.6.1000" ]]
                  then
                        #change serverName to proxy server ip
                        #sed -i -- 's/%serverName%/172.17.118.91/g' ${WORKSPACE}/proxyServer.js
                        echo "no commits in 7.6.1000"
                  elif [[ "$GERRIT_BRANCH" == "7.6.2000" ]]
                  then
                        sed -i -- 's/%serverName%/172.17.118.92/g' ${WORKSPACE}/proxyServer.js
                  else
                  		#temporary
        				if [[ "$GERRIT_BRANCH" == "7.8" || "$GERRIT_BRANCH" == "7.8.1000" ]]
            			then
                       		 echo "172.17.118.95"
        					sed -i -- 's/%serverName%/172.17.118.95/g' ${WORKSPACE}/proxyServer.js
            			else
            				echo "172.17.118.93"
        					sed -i -- 's/%serverName%/172.17.118.93/g' ${WORKSPACE}/proxyServer.js            
            			fi
                  fi
                        #change username and password
                        sed -i -- 's/%username%/acladmin/g' ${WORKSPACE}/cypress/support/config.ts
                        sed -i -- 's/%password%/pass_1234/g' ${WORKSPACE}/cypress/support/config.ts
                        sed -i -- "s/%version%/${BUILD_NUMBER}/g" ${WORKSPACE}/cypress/support/config.ts
        				if [[ "$GERRIT_BRANCH" == "7.6"* || "$GERRIT_BRANCH" == "7.8" || "$GERRIT_BRANCH" == "7.8.1000" ]]
       					then
        					echo "RUN: yarn run proxyServer"
  	    					yarn run proxyServer &amp; sleep 15
        				else
        					echo "RUN: yarn run p &amp;&amp; sleep 15"
  	    					yarn run p &amp;&amp; sleep 15
        				fi
                        echo "RUN: yarn test:jenkins"
                        yarn test:jenkins
            fi
            echo "RUN: yarn run distFull"
            yarn run distFull
            #create zip files
            echo "generating zip file"
            if [[ "$GERRIT_BRANCH" != "7.4"* &amp;&amp; "$GERRIT_BRANCH" != "7.6"* &amp;&amp; "$GERRIT_BRANCH" != "7.8" ]]
            then
            	PATH=${PATH}:"/cygdrive/c/Program Files/7-Zip"
            	if [[ "$GERRIT_BRANCH" == "7.8.1000" ]]
                then
                	7z.exe a -r dist/ovoc-ui.zip build/.
                else
                	perl -pi -e "s/%version%/${BUILD_NUMBER}/g" dist/ovoc/index.html
                    7z.exe a -r dist/ovoc-ui.zip dist/ovoc/.
                fi
            else
            	echo "RUN:yarn run zip"
            	yarn run zip 
            fi
     fi
      
     
#rename zip file to ovoc-7.4.0.zip in order to deploy in one name to artifactory
if [[ "$GERRIT_BRANCH" == "7.4" || "$GERRIT_BRANCH" == "7.4.1000" || "$GERRIT_BRANCH" == "7.4.2000" || "$GERRIT_BRANCH" == "7.4.3000" ]]
then mv dist/ovoc*.zip dist/ovoc-7.4.0.zip
# from 7.6 we use a new name:
else mv dist/ovoc*.zip dist/ovoc-ui.zip
fi
else
	echo "******   This is not the last commit. Exit without building  ******"
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>cypress\videos\ovoc\**\*.mp4</artifacts>
      <allowEmptyArchive>true</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <org.jenkinsci.plugins.postbuildscript.PostBuildScript plugin="postbuildscript@2.9.1">
      <config>
        <scriptFiles/>
        <groovyScripts/>
        <buildSteps>
          <org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
            <results>
              <string>FAILURE</string>
            </results>
            <role>BOTH</role>
            <executeOn>BOTH</executeOn>
            <buildSteps>
              <hudson.tasks.Shell>
                <command>#!C:\Program Files\Git\bin\bash --login -i
set -x
message="Build after submit failed: ${BUILD_URL}artifact/cypress/videos/ovoc/"
CURL="curl -kn -u jenkins:$jpass --silent"
base=https://$GERRIT_HOST/a/changes
id=${GERRIT_PROJECT}~${GERRIT_BRANCH}~${GERRIT_CHANGE_ID}
idEscaped=${id////%2F}
endpoint="/$idEscaped/revisions/$GERRIT_PATCHSET_REVISION/review"
pathToVideos="cypress/videos/ovoc"
checkIfMP4Exists=$(find "$pathToVideos" -name *.mp4)

if [[ "$checkIfMP4Exists" != "" ]]
then
$CURL -X POST "$base/$endpoint" --header "Content-Type: application/json;charset=UTF-8"  -d "{\"message\": \"$message\"}"
fi</command>
              </hudson.tasks.Shell>
            </buildSteps>
          </org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
          <org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
            <results>
              <string>SUCCESS</string>
            </results>
            <role>BOTH</role>
            <executeOn>BOTH</executeOn>
            <buildSteps>
              <hudson.tasks.Shell>
                <command>#!C:\Program Files\Git\bin\bash --login -i
set -x
message="Build was successful in retry ${NAGINATOR_COUNT}"
CURL="curl -kn -u jenkins:$jpass --silent"
base=https://$GERRIT_HOST/a/changes
id=${GERRIT_PROJECT}~${GERRIT_BRANCH}~${GERRIT_CHANGE_ID}
idEscaped=${id////%2F}
endpoint="/$idEscaped/revisions/$GERRIT_PATCHSET_REVISION/review"
pathToVideos="cypress/videos/ovoc"
checkIfMP4Exists=$(find "$pathToVideos" -name *.mp4)
if [[ $NAGINATOR_COUNT -ge 0 ]]
then
	$CURL -X POST "$base/$endpoint" --header "Content-Type: application/json;charset=UTF-8"  -d "{\"message\": \"$message\"}"
fi</command>
              </hudson.tasks.Shell>
            </buildSteps>
          </org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
        </buildSteps>
        <markBuildUnstable>false</markBuildUnstable>
      </config>
    </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
    <com.chikli.hudson.plugin.naginator.NaginatorPublisher plugin="naginator@1.17.2">
      <regexpForRerun>.*java.nio.channels.ClosedChannelException*.</regexpForRerun>
      <rerunIfUnstable>false</rerunIfUnstable>
      <rerunMatrixPart>false</rerunMatrixPart>
      <checkRegexp>false</checkRegexp>
      <regexpForMatrixStrategy>TestParent</regexpForMatrixStrategy>
      <delay class="com.chikli.hudson.plugin.naginator.FixedDelay">
        <delay>5</delay>
      </delay>
      <maxSchedule>2</maxSchedule>
    </com.chikli.hudson.plugin.naginator.NaginatorPublisher>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.69">
      <recipientList>OVOCWebUI@audiocodes.com, cc:ben.magriso@audiocodes.com, cc:Shuky.Riechard</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern/>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>ALERT !!!  OVOC WEB-UI BUILD FAILED AFTER SUBMIT  !!!  ALERT</defaultSubject>
      <defaultContent>Review console output of this build:
$BUILD_URL
</defaultContent>
      <attachmentsPattern/>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <from/>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.tasks.Mailer plugin="mailer@1.32">
      <recipients>ben.magriso Shuky.Riechard</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.ws__cleanup.WsCleanup plugin="ws-cleanup@0.38">
      <patterns>
        <hudson.plugins.ws__cleanup.Pattern>
          <pattern>.git/**</pattern>
          <type>EXCLUDE</type>
        </hudson.plugins.ws__cleanup.Pattern>
        <hudson.plugins.ws__cleanup.Pattern>
          <pattern>node_modules/**</pattern>
          <type>EXCLUDE</type>
        </hudson.plugins.ws__cleanup.Pattern>
      </patterns>
      <deleteDirs>true</deleteDirs>
      <skipWhenFailed>false</skipWhenFailed>
      <cleanWhenSuccess>true</cleanWhenSuccess>
      <cleanWhenUnstable>true</cleanWhenUnstable>
      <cleanWhenFailure>true</cleanWhenFailure>
      <cleanWhenNotBuilt>true</cleanWhenNotBuilt>
      <cleanWhenAborted>true</cleanWhenAborted>
      <notFailBuild>true</notFailBuild>
      <cleanupMatrixParent>false</cleanupMatrixParent>
      <externalDelete/>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.WsCleanup>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.11.3"/>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.6.3">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
    <org.jfrog.hudson.generic.ArtifactoryGenericConfigurator plugin="artifactory@3.6.1">
      <deployerDetails>
        <artifactoryName>797876730@1453721585664</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </deployerDetails>
      <resolverDetails>
        <artifactoryName>797876730@1453721585664</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </resolverDetails>
      <deployerCredentialsConfig>
        <credentialsId/>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </deployerCredentialsConfig>
      <resolverCredentialsConfig>
        <credentialsId/>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </resolverCredentialsConfig>
      <useSpecs>true</useSpecs>
      <uploadSpec>
        <spec>{
    "files": [
        {
            "pattern": "${WORKSPACE}/dist/ovoc*.zip",
            "target": "ems-release/com/ac/ems/ovoc_client/$GERRIT_BRANCH//",
            "props": "type=zip;status=ready",
             "recursive": "false"
        }
    ]
}</spec>
      </uploadSpec>
      <downloadSpec>
        <spec/>
      </downloadSpec>
      <deployPattern>dist/ovoc*.zip=&gt;com/ac/ems/ovoc_client/$GERRIT_BRANCH/</deployPattern>
      <resolvePattern/>
      <deploymentProperties/>
      <deployBuildInfo>false</deployBuildInfo>
      <includeEnvVars>false</includeEnvVars>
      <envVarsPatterns>
        <includePatterns/>
        <excludePatterns>*password*,*secret*</excludePatterns>
      </envVarsPatterns>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
      <asyncBuildRetention>false</asyncBuildRetention>
      <multiConfProject>false</multiConfProject>
      <customBuildName/>
      <overrideBuildName>false</overrideBuildName>
    </org.jfrog.hudson.generic.ArtifactoryGenericConfigurator>
    <EnvInjectPasswordWrapper plugin="envinject@2.3.0">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>jpass</name>
          <value>{AQAAABAAAAAQJ1UnGzJN43bDFMYbT+6UB/oR5xOyviDw9lXlrJx1M+0=}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@2.1.0">
      <template>#${BUILD_NUMBER}_branch:$GERRIT_BRANCH</template>
      <descriptionTemplate/>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>