<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>kevinc</id>
  <fullName>Kevin Chen</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwlxQv/wsuJsVDvYOOlRc3BUe5PcvAFwMeObS48Sp0R/SvZasufSFbtXc4CvnUUmE1DEM3quLPbOyDeHE6ZjGFVA==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>98bd2191-0619-4123-a7a5-d75cd78c6816</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>2ce4120a7ca762af46ca142bbc63620848f50fa9ff3b729b577265ac59dd04c1</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># ROW employees</string>
        <string>authenticated</string>
        <string>AWS_Jira_Users</string>
        <string>Citrix_Allow_Browsers</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Palo_Amazon_RnD_Users_Access</string>
        <string># IPP Alex SW SZ</string>
        <string># ClearCase R&amp;D</string>
        <string># SZ Office</string>
        <string>CatalogApps_Everyone</string>
        <string>CI_IPP_developers</string>
        <string># IPP RnD – SZ</string>
        <string>Password Manager Apply</string>
        <string># Abroad</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string>NewUser_China</string>
        <string># IPP</string>
        <string>Vopp</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string># IPP RnD</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
      </roles>
      <timestamp>1569397508067</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>ZhuoXin.Chen@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>443d46eae66cfa31</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>