<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>sharonbin</id>
  <fullName>Sharon Biniashvili</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>6ba6956ff07c1a9f</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># TRAVEL IL</string>
        <string># TestFlight.DEV</string>
        <string>authenticated</string>
        <string># All Mailvision</string>
        <string>AWS_Jira_Users</string>
        <string>Citrix_Allow_Browsers</string>
        <string># Mobility iOS</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>MV_Support_RO</string>
        <string>MV_Public_RW</string>
        <string># RnD Mobility</string>
        <string># Mailvision-Development</string>
        <string>Allow Office365 Groups</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string>MV_Dev_RW</string>
        <string># mdevelopment_ios</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string># All ISRAEL</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string>MV_Sales_RO</string>
        <string>AudioCodes_VPN</string>
        <string>MV_QA_RO</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>365_MFA_Apps</string>
      </roles>
      <timestamp>1582455690205</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Sharon.Biniashvili@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>