<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>5</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>JobName</name>
          <description></description>
          <defaultValue>test_ipp_AT_parent</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GERRIT_CHANGE</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit>REFSPEC</paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>sanjer</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/perl

# This perl script is executed by the Jenkins job: Shift_All_Queued_Tasks
# Input: the job name
# Is located in the Sanjer server under the following directory: /opt/devops/tools
# The queued tasks of this job with shift cerculary 
# No output
use MIME::Base64;
use JSON qw( decode_json );

my $job =  $JobName;
my $gerritChange =  $GERRIT_CHANGE;

my $user = &quot;compile:$CompileJenkinsPass&quot;;
my $URL=&quot;https://jenkins&quot;;

my $json=`curl -ks -X GET \&quot;$URL/queue/api/json\&quot;`;

my $decoded = decode_json($json);
my $parametersLine = &quot;&quot;;

my $countJobe = keys $decoded-&gt;{&apos;items&apos;};
for my $i (0..$countJobe-1) {
  my $fields = $decoded-&gt;{&apos;items&apos;}[$i];
  my $jobName = $fields-&gt;{&apos;task&apos;}{&apos;name&apos;};
  if ($jobName eq $job) {
    $parametersLine = &quot;&quot;;
    my $countParameters = keys $fields-&gt;{&apos;actions&apos;}[0]{&apos;parameters&apos;};
    for my $j (0..$countParameters-1) {
      my $parameters = $fields-&gt;{&apos;actions&apos;}[0]{&apos;parameters&apos;}[$j];
      $parametersLine .= &quot;&amp;$parameters-&gt;{&apos;name&apos;}=$parameters-&gt;{&apos;value&apos;}&quot;;
    }
    if (!($parametersLine =~ /\/$gerritChange\//)) {
      my $id = $fields-&gt;{&apos;id&apos;};
      print &quot;Stop $parametersLine\n&quot;;
      `curl -ks -u $user -X POST \&quot;$URL/queue/cancelItem?id=$id\&quot;`;      
      $parametersLine =~ s/^&amp;/?/;
      `curl -ks -u $user -X POST \&quot;$URL/job/$job/buildWithParameters$parametersLine\&quot;`;
    }
  }
}

exit 0;
</command>
      <unstableReturn>2</unstableReturn>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <EnvInjectPasswordWrapper plugin="envinject@2.1.5">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>CompileJenkinsPass</name>
          <value>{AQAAABAAAAAQ207/akHZSr6fRpj6SuHZr+DhM097891PZDUXKh61uuw=}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.9">
      <template>#${BUILD_NUMBER} ${JobName} $GERRIT_CHANGE</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>