<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GERRIT_REFSPEC</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <EnvInjectJobProperty plugin="envinject@1.92.1">
      <info>
        <propertiesContent>JAVA_HOME=/opt/jenkinsslave/jdk
PATH=/opt/ipp_toolchain/gcc-wrapper:$PATH:${JAVA_HOME}/bin:$HOME/bin</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <refspec>${GERRIT_REFSPEC}</refspec>
        <url>ssh://jenkins@gerrit:29418/IPP/szipp.git</url>
        <credentialsId>df9bd014-71c4-4f0e-8177-456e451a86c0</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>$GERRIT_BRANCH</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>true</shallow>
        <noTags>false</noTags>
        <reference></reference>
        <timeout>20</timeout>
        <depth>0</depth>
      </hudson.plugins.git.extensions.impl.CloneOption>
    </extensions>
  </scm>
  <assignedNode>ipp-build</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Get changed files in this commit
git diff-tree --no-commit-id --name-only -r ${GERRIT_PATCHSET_REVISION} &gt; changedFiles.txt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># Static code analysis - CPP Check

# Minimal set of arguments, 2 thread
#cppcheck -j 2 --xml --xml-version=2 ${WORKSPACE}/src 2&gt; cppcheck.xml

# Enable all checks only on new files
cppcheck --enable=all --inconclusive --xml --xml-version=2 --file-list=changedFiles.txt 2&gt; cppcheck.xml
#cppcheck --enable=all --inconclusive --xml --xml-version=2 src/apps/radvision/radvision_linux/ice/ice/IceStun.c 2&gt; cppcheck.xml</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo COMMIT_CHANGED_FILES=`git diff-tree --no-commit-id --name-only -r ${GERRIT_PATCHSET_REVISION} | sed &apos;:a;N;$!ba;s/\n/,/g&apos;` &gt; changedFiles.prop</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@1.92.1">
      <info>
        <propertiesFilePath>changedFiles.prop</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.plugins.sonar.SonarRunnerBuilder plugin="sonar@2.3">
      <project></project>
      <properties># Required metadata
sonar.projectKey=com.ac.ipp
sonar.projectName=ipp
sonar.projectVersion=1.0

# Comma-separated paths to directories with sources (required)
#sonar.sources=src/apps/pltool/main.c
sonar.sources=${COMMIT_CHANGED_FILES}

# The value of the property must be the key of the language.
sonar.language=c++

sonar.analysis.mode=preview

sonar.cxx.cppcheck.reportPath=cppcheck.xml
sonar.report.export.path=sonar-report.json</properties>
      <javaOpts></javaOpts>
      <additionalArguments></additionalArguments>
      <jdk>(Inherit From Job)</jdk>
      <task></task>
    </hudson.plugins.sonar.SonarRunnerBuilder>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.cppcheck.CppcheckPublisher plugin="cppcheck@1.21">
      <cppcheckConfig>
        <pattern>cppcheck.xml</pattern>
        <ignoreBlankFiles>false</ignoreBlankFiles>
        <allowNoReport>true</allowNoReport>
        <configSeverityEvaluation>
          <threshold></threshold>
          <newThreshold></newThreshold>
          <failureThreshold></failureThreshold>
          <newFailureThreshold></newFailureThreshold>
          <healthy></healthy>
          <unHealthy></unHealthy>
          <severityError>true</severityError>
          <severityWarning>true</severityWarning>
          <severityStyle>true</severityStyle>
          <severityPerformance>true</severityPerformance>
          <severityInformation>true</severityInformation>
          <severityNoCategory>true</severityNoCategory>
          <severityPortability>true</severityPortability>
        </configSeverityEvaluation>
        <configGraph>
          <xSize>500</xSize>
          <ySize>200</ySize>
          <numBuildsInGraph>0</numBuildsInGraph>
          <displayAllErrors>true</displayAllErrors>
          <displayErrorSeverity>false</displayErrorSeverity>
          <displayWarningSeverity>false</displayWarningSeverity>
          <displayStyleSeverity>false</displayStyleSeverity>
          <displayPerformanceSeverity>false</displayPerformanceSeverity>
          <displayInformationSeverity>false</displayInformationSeverity>
          <displayNoCategorySeverity>false</displayNoCategorySeverity>
          <displayPortabilitySeverity>false</displayPortabilitySeverity>
        </configGraph>
      </cppcheckConfig>
    </org.jenkinsci.plugins.cppcheck.CppcheckPublisher>
    <org.jenkinsci.plugins.sonargerrit.SonarToGerritPublisher plugin="sonar-gerrit@1.0.6">
      <sonarURL>http://sanjer:9000</sonarURL>
      <subJobConfigs>
        <org.jenkinsci.plugins.sonargerrit.SubJobConfig>
          <projectPath></projectPath>
          <sonarReportPath>.sonar/sonar-report.json</sonarReportPath>
        </org.jenkinsci.plugins.sonargerrit.SubJobConfig>
      </subJobConfigs>
      <severity>INFO</severity>
      <changedLinesOnly>false</changedLinesOnly>
      <newIssuesOnly>true</newIssuesOnly>
      <noIssuesToPostText>Code Analysis violations have not been found.</noIssuesToPostText>
      <someIssuesToPostText>&lt;total_count&gt; Code Analysis violations have been found.</someIssuesToPostText>
      <issueComment>&lt;severity&gt; Code Analysis violation:


&lt;message&gt;


Read more: &lt;rule_url&gt;</issueComment>
      <postScore>true</postScore>
      <category>Code-Review</category>
      <noIssuesScore>+1</noIssuesScore>
      <issuesScore>-1</issuesScore>
      <noIssuesNotification>NONE</noIssuesNotification>
      <issuesNotification>OWNER</issuesNotification>
    </org.jenkinsci.plugins.sonargerrit.SonarToGerritPublisher>
  </publishers>
  <buildWrappers/>
</project>