<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>taol@audiocodes.com</id>
  <fullName>Felix Liu</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwHDxzzXBaMGOjEG/iK4imeEDpyc1yEU9yn+P5n2FA3wyRvy5RTAzpRqxYbQUpCIdB2xx5DW/AVSwV81sSjuvjIQ==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>871b3f22-9710-44a1-8c8b-9a10078fa4a0</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>e8d281e1132009ef5d93c66d0e37fbcde1a30c4fcae115e2b42c74a3c6a12253</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># ROW employees</string>
        <string>authenticated</string>
        <string>AWS_Jira_Users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Palo_Amazon_RnD_Users_Access</string>
        <string># IPP Alex SW SZ</string>
        <string># ClearCase R&amp;D</string>
        <string># SZ Office</string>
        <string>CatalogApps_Everyone</string>
        <string>CI_IPP_developers</string>
        <string># IPP RnD – SZ</string>
        <string>Password Manager Apply</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># IPP</string>
        <string>Vopp</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string># IPP RnD</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
      </roles>
      <timestamp>1562119095371</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Tao.Liu@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>c7f9fb852057d445</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>