<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.plugins.repo.RepoScm" plugin="repo@1.10.7">
    <manifestRepositoryUrl>git clone ssh://jenkins@gerrit:29418/IPP/Android/repo_manifests</manifestRepositoryUrl>
    <manifestBranch>master</manifestBranch>
    <jobs>0</jobs>
    <depth>0</depth>
    <currentBranch>true</currentBranch>
    <resetFirst>false</resetFirst>
    <quiet>true</quiet>
    <forceSync>false</forceSync>
    <trace>false</trace>
    <showAllChanges>false</showAllChanges>
    <noTags>false</noTags>
    <ignoreProjects class="linked-hash-set">
      <string></string>
    </ignoreProjects>
  </scm>
  <assignedNode>ipp-android</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

OTA_FILE_NAME=OTA_FILE_NAME.zip
echo OTA_FILE_NAME=${IPP_VER} &gt; generated_ipp_version.properties

cd ~/C450HD-Android-2

# first we need to clean previous build:
make clean
# second need to sync on latest changes off all other repositories
echo ----- repo sync
repo sync -c --no-tags --no-clone-bundle -j16 --force-sync
# at this point you need to chery-pick the relevant change you wish to verify
# cd to releant path
# git cherrypick
# cd back to C450HD-Android
# setting build variables
echo $PATH
echo ----- source build/envsetup.sh
source build/envsetup.sh
# selecting configuration
echo ----- lunch aosp_dvf101-userdebug
# lunch aosp_dvf101-userdebug
lunch aosp_c450hd-userdebug
# building - this step will take ~40 min
echo ----- make -j16
make -j16
# at this point you should have relevant images under ./out/target/product/dvf101/

# now we wish to build the actual image file
# we create a folder t where our output should go
mkdir dist_folder1
# run make dist
echo ----- make  dist
make  dist DIST_DIR=./dist_folder1
# generate the actual image (OTA_FILE_NAME.zip)
echo ----- generate the actual image
#./build/tools/releasetools/ota_from_target_files dist_folder1/aosp_dvf101-target_files-eng.ubuntu.zip ${OTA_FILE_NAME}
./build/tools/releasetools/ota_from_target_files dist_folder1/aosp_c450hd-target_files-eng.ubuntu.zip ${OTA_FILE_NAME}

mv ${OTA_FILE_NAME} ${WORKSPACE}/${OTA_FILE_NAME}
</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.1.5">
      <info>
        <propertiesFilePath>generated_ipp_version.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jfrog.hudson.generic.ArtifactoryGenericConfigurator plugin="artifactory@2.15.1">
      <deployerDetails>
        <artifactoryName>797876730@1453721585664</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <deployReleaseRepository>
          <keyFromText></keyFromText>
          <keyFromSelect>ipp-teams</keyFromSelect>
          <dynamicMode>false</dynamicMode>
        </deployReleaseRepository>
        <stagingPlugin/>
      </deployerDetails>
      <resolverDetails>
        <artifactoryName>797876730@1453721585664</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </resolverDetails>
      <deployerCredentialsConfig>
        <credentials>
          <username></username>
          <password></password>
        </credentials>
        <credentialsId></credentialsId>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </deployerCredentialsConfig>
      <resolverCredentialsConfig>
        <credentials>
          <username></username>
          <password></password>
        </credentials>
        <credentialsId></credentialsId>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </resolverCredentialsConfig>
      <useSpecs>false</useSpecs>
      <uploadSpec>
        <spec></spec>
      </uploadSpec>
      <downloadSpec>
        <spec></spec>
      </downloadSpec>
      <deployPattern>${WORKSPACE}/${OTA_FILE_NAME}=&gt;com/ac/android</deployPattern>
      <resolvePattern></resolvePattern>
      <deploymentProperties></deploymentProperties>
      <deployBuildInfo>false</deployBuildInfo>
      <includeEnvVars>false</includeEnvVars>
      <envVarsPatterns>
        <includePatterns></includePatterns>
        <excludePatterns>*password*,*secret*,*key*</excludePatterns>
      </envVarsPatterns>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
      <asyncBuildRetention>false</asyncBuildRetention>
      <multiConfProject>false</multiConfProject>
      <customBuildName></customBuildName>
      <overrideBuildName>false</overrideBuildName>
    </org.jfrog.hudson.generic.ArtifactoryGenericConfigurator>
  </buildWrappers>
</project>