<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Moshe Ben-Eliezer</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>zWyaNeTF27+JCn+ka5Fh+Uzay030ZsTH73IGbKw//iwQV7WSh2DA10Lq4g4XcOmq</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.26">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.41.3">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># TRAVEL IL</string>
        <string>Agile users</string>
        <string># R&amp;D HDGW SYSTEM</string>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string># All 012 voip</string>
        <string>R&amp;D HDGW software</string>
        <string>TG1000</string>
        <string># R&amp;D HDGW SYSTEM SW</string>
        <string># All Orange</string>
        <string># All Cars</string>
        <string>cc_users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Sp365-Devops-Read</string>
        <string># ClearCase R&amp;D</string>
        <string># All R&amp;D</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string># Gym</string>
        <string>Password Manager Apply</string>
        <string># Agile users</string>
        <string># R&amp;D Solutions SW group</string>
        <string># All ISRAEL</string>
        <string># R&amp;D ARM</string>
        <string>Offer Remote Assistance Helpers</string>
        <string># R&amp;D HDGW GROUP</string>
        <string># R&amp;D Israel</string>
        <string>Mailvision Branch Office Users</string>
        <string># All Cellular</string>
        <string>Linuxusers</string>
        <string>AudioCodes_VPN</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>ARM-FC</string>
        <string>CI_ARM_developers</string>
      </roles>
      <timestamp>1481099940120</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.16">
      <emailAddress>Moshe.Ben-Eliezer@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>