<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>get report between two dates</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>JobName</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>ippCentos7.4-reviewSIM</string>
              <string>ippReview_SFB</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AFTER_DATE</name>
          <description>YYYY-MM-DD format</description>
          <defaultValue>2018-04-25</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BEFORE_DATE</name>
          <description>YYYY-MM-DD format</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
      <configVersion>1</configVersion>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>sanjer</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.39.1">
      <project>MatrixJobStatisticsReport</project>
      <filter></filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>
OldbeforeDate=$(date -d $BEFORE_DATE +&quot;%Y%m%d&quot;)

afterDate=$(date -d $AFTER_DATE +&quot;%Y%m%d&quot;)
beforeDate=&quot;$(date -d &quot;$BEFORE_DATE +1 days&quot; +&quot;%Y%m%d&quot;)&quot;
TodayDate=$(date +&quot;%Y%m%d&quot;)

output=output$JobName

#check if wrong date entered
if [ $afterDate  -ge $OldbeforeDate ]
then
echo &quot;******************************************************************&quot;
echo &quot;WRONG DATE ENTERED AFTER_DATE need to be smaller then BEFORE_DATE&quot;
echo &quot;******************************************************************&quot;
exit 1
fi

if [ $OldbeforeDate -ge $TodayDate ]
then
	echo &quot;*************************************************&quot;
	echo &quot;WRONG DATE! BEFORE_DATE need to be smaller then Today&apos;s Date&quot;
	echo &quot;*************************************************&quot;
    exit 1
fi


echo -e &quot;\r\n&quot; &gt; $output.txt
echo &quot;Information about $JobName&quot; &gt;&gt; $output.txt
echo -e &quot;\r\n&quot; &gt;&gt; $output.txt
echo &quot;Between the Dates $afterDate to $OldbeforeDate&quot; &gt;&gt; $output.txt
#get all the information between two Dates 
sed -n &apos;/&apos;$afterDate&apos;/,/&apos;$beforeDate&apos;/{//!p}&apos; $JobName.txt &gt; $JobName&apos;1&apos;.txt
JobName=$JobName&apos;1&apos;
#get the first and last build number that happend between this dates
FirstBuildNumber=$(cat $JobName.txt | grep FirstBuild: | cut -f2 -d&apos;:&apos; |  head -n1)
LastBuildNumber=$(cat $JobName.txt | grep LastBuild: | cut -f2 -d&apos;:&apos; |  tail -n1)

#get all the Branches and remove all duplicates
cat $JobName.txt | grep Branch: | cut -f2 -d&apos;:&apos; &gt; file.txt
RestOfTheBranches=`perl -ne &apos;print unless $seen{$_}++&apos; file.txt`
CountHowManyBranchesLeft=$(echo $RestOfTheBranches | wc -w)
#iterate all the branches
while [[ &quot;$CountHowManyBranchesLeft&quot; != &quot;0&quot; ]]
do
#get the first branch
  FirstBranch=$(echo $RestOfTheBranches | cut -f1 -d&apos; &apos;)
  GerritBranchEscaped=$(echo $FirstBranch | tr &apos;=&apos; &apos;_&apos;)
  echo -e &quot;\r\n&quot; &gt;&gt; $output.txt
  echo &quot;About The Branch  $FirstBranch&quot; &gt;&gt; $output.txt
  #get all childs names
  cat $JobName.txt | grep &quot;_$FirstBranch Failed:&quot; | cut -f1 -d&apos; &apos; &gt; file.txt
  #Remove Duplicates
  allTheJobsNames=`perl -ne &apos;print unless $seen{$_}++&apos; file.txt`
  CountHowManyJobsLeft=$(echo $allTheJobsNames | wc -w)
  FirstSonJobName=$(echo $allTheJobsNames | cut -f1 -d&apos; &apos;)

  #Sum of all the builds of the branch
  SUM=0; for line in `cat $JobName.txt | grep allBuilds_$FirstBranch: | cut -f2 -d &apos;:&apos;`; do SUM=$((SUM + line)); done
  declare &quot;allBuilds$FirstBranch&quot;=$SUM
  tempAllBuilds=&quot;allBuilds$FirstBranch&quot;
  echo -e &quot;\r\n&quot; &gt;&gt; $output.txt
  echo &quot;All The Builds in the branch ${!tempAllBuilds}&quot; &gt;&gt; $output.txt
  #Sum  all the Parent builds of the branch that Successeded 
  SUM=0; for line in `cat $JobName.txt | grep allSucceeded_$FirstBranch: | cut -f2 -d &apos;:&apos;`; do SUM=$((SUM + line)); done
  declare &quot;AllSuccess$FirstBranch&quot;=$SUM
  tempAllSuccess=&quot;AllSuccess$FirstBranch&quot;
  echo -e &quot;\r\n&quot; &gt;&gt; $output.txt
  echo &quot;All The builds that was Successful  ${!tempAllSuccess}&quot; &gt;&gt; $output.txt
   #Sum  all the Parent builds of the branch that Failed 
  SUM=0; for line in `cat $JobName.txt | grep allFatherBuildsFailed_$FirstBranch: | cut -f2 -d &apos;:&apos;`; do SUM=$((SUM + line)); done
  declare &quot;allFatherBuildsFailed$FirstBranch&quot;=$SUM
  tempAllFatherBuildsFailed=&quot;allFatherBuildsFailed$FirstBranch&quot;
  echo -e &quot;\r\n&quot; &gt;&gt; $output.txt
  echo &quot;all The Parent Builds That Was Failed ${!tempAllFatherBuildsFailed}&quot; &gt;&gt; $output.txt
   #Sum  all the  builds that all the childs Failed
  SUM=0; for line in `cat $JobName.txt | grep allSonsFailed_$FirstBranch: | cut -f2 -d &apos;:&apos;`; do SUM=$((SUM + line)); done
  declare &quot;AllFailed$FirstBranch&quot;=$SUM
  tempAllFailed=&quot;AllFailed$FirstBranch&quot;
  echo &quot;all The Childs Builds That Was Failed ${!tempAllFailed}&quot; &gt;&gt; $output.txt
	#iterate all the childs
  while [[ &quot;$CountHowManyJobsLeft&quot; != &quot;0&quot; ]]
  do
	#get the Child Name
    FirstSonJobName=$(echo $allTheJobsNames | cut -f1 -d&apos; &apos;)
    EscapedSonJobName=$(echo $FirstSonJobName | tr &apos;.&apos; &apos;_&apos; | tr &apos;/&apos; &apos;_&apos; | tr &apos;%&apos; &apos;_&apos; | tr &apos;=&apos; &apos;_&apos;)
    #sum how many times spesific child failed
    SUM=0; for line in `cat $JobName.txt | grep -w &quot;$FirstSonJobName Failed&quot; | cut -f2 -d &apos;:&apos; | cut -f2 -d&apos; &apos;`; do SUM=$((SUM + line)); done
    declare &quot;Failed${EscapedSonJobName}${FirstBranch}&quot;=$SUM
    tempSonFailed=&quot;Failed${EscapedSonJobName}${FirstBranch}&quot;
    echo -e &quot;\r\n&quot; &gt;&gt; $output.txt
    echo &quot;The Child $FirstSonJobName is failed ${!tempSonFailed}&quot; &gt;&gt; $output.txt
    #Sum How Many  Total Builds the Child had
    SUM=0; for line in `cat $JobName.txt | grep -w &quot;$FirstSonJobName Total&quot; | cut -f2 -d &apos;:&apos; | cut -f2 -d&apos; &apos;`; do SUM=$((SUM + line)); done
    declare &quot;Total${EscapedSonJobName}${FirstBranch}&quot;=$SUM
    tempTotalBuilds=&quot;Total${EscapedSonJobName}${FirstBranch}&quot;
    #About each child How Many in Total that was Success or failed alone
    declare  tempTotalBuildThatSuccessAndFailedAlone=$((Total${EscapedSonJobName}${FirstBranch}-AllFailed$FirstBranch))
    #about each child how many times failed alone 
    declare tempSonAloneFailed=$((Failed${EscapedSonJobName}${FirstBranch}-AllFailed$FirstBranch))
    #
    if [ ${!tempSonFailed} -lt ${!tempAllFailed} ]
    then
    	echo &quot;Meaningful Failure of $FirstSonJobName has  ${!tempSonFailed} from total of ${!tempTotalBuilds}&quot; &gt;&gt; $output.txt
    else
    	echo &quot;Meaningful Failure of $FirstSonJobName has  $tempSonAloneFailed from total of $tempTotalBuildThatSuccessAndFailedAlone&quot; &gt;&gt; $output.txt
    fi
    echo -e &quot;\r\n&quot; &gt;&gt; $output.txt
    echo &quot;The Child $FirstSonJobName Has total builds of ${!tempTotalBuilds}&quot; &gt;&gt; $output.txt
    #check if only one child remaining to iterate and he already did the iteration (Get out of the While loop)
    if [[ &quot;$CountHowManyJobsLeft&quot; == &quot;1&quot; ]]
    then
      allTheJobsNames=$(echo $allTheJobsNames | cut -f50 -d&apos;_&apos;)
    else
      allTheJobsNames=$(echo $allTheJobsNames | cut -f2- -d&apos; &apos;)
    fi
    CountHowManyJobsLeft=$(echo $allTheJobsNames | wc -w)
  done

#get out of the While Loop (of the branches) if finish
  if [[ &quot;$CountHowManyBranchesLeft&quot; == &quot;1&quot; ]]
  then
    RestOfTheBranches=$(echo $RestOfTheBranches | cut -f50 -d&apos;_&apos;)
  else
    RestOfTheBranches=$(echo $RestOfTheBranches | cut -f2- -d&apos; &apos;)
  fi
CountHowManyBranchesLeft=$(echo $RestOfTheBranches | wc -w)

done

cat $output.txt
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>outputippCentos7.4-reviewSIM.txt, outputippReview_SFB.txt</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>