<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Ami Lahav</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>Bk3/c/So9VW1ePTlGR6q7HwrZn9sxc+CCtNyhG2K0hUQV7WSh2DA10Lq4g4XcOmq</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.26">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.41.3">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># TRAVEL IL</string>
        <string>Agile users</string>
        <string>authenticated</string>
        <string># IP Phone R&amp;D</string>
        <string># CMBU</string>
        <string># All Support</string>
        <string># All Cars</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string># All Cellcom</string>
        <string>sp365-Sales-Read</string>
        <string>WirelessUsers</string>
        <string># CMBU-QA</string>
        <string># Support Escalation</string>
        <string># PBX</string>
        <string># CMBU-R&amp;D</string>
        <string>BIS Service</string>
        <string># All Sales</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string>CI_IPP_developers</string>
        <string># Gym</string>
        <string>CMBU</string>
        <string># MP20x deliveries</string>
        <string>Password Manager Apply</string>
        <string># All ISRAEL</string>
        <string># Support KB Editors</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>SPS_Allow_PM</string>
        <string>Mailvision Branch Office Users</string>
        <string># All Cellular</string>
        <string>Vopp</string>
        <string>Linuxusers</string>
        <string># IPP New Version Notification</string>
        <string>AudioCodes_VPN</string>
        <string># Chips-Support</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>Sp365-rdipp-modify</string>
        <string># All Airport City</string>
        <string>IppSwReleases</string>
        <string># ippbeta</string>
        <string># All_Lync_Pilot</string>
      </roles>
      <timestamp>1500465989503</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.16">
      <emailAddress>Ami.Lahav@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>