<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>Following API: -suiteName, -configName, -firmwareVersionMain,&#13;
suiteName - name of the predefined suite, e.g. Sanity440Lync_basic&#13;
configName - name of the predefined session config, e.g. Sanity440LyncConfig&#13;
firmwareVersionMain - name of the firmware file which should be test, e.g. UC430HD_2.0.3.16&#13;
1. Before running, put a firmware version to \\isr0214-34401\firmwares  (isr0214-34401 = 10.59.0.87) , also it is need to put relevant firmwares for other phones. If tested firmware is UC440HD_3.0.0.65, it is need also to put all other &#13;
available firmwares: UC430HD_3.0.0.65, UC420HD_3.0.0.65, UC405_3.0.0.65 (note that for 405 ther is no 'HD' in firmware name);&#13;
2. Example for run: tclsh AtaExec.tcl -configName Sanity440LyncConfig.ACDev.tcl -suiteName Sanity440Lync_basic.suite -firmwareVersionMain UC440HD_3.0.0.65.img&#13;
&#13;
Should work on 10.59.1.46 - ippAuto</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.13">
      <siteName>http://acjira:8080/</siteName>
    </hudson.plugins.jira.JiraProjectProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>true</useBuildBlocker>
      <blockLevel>NODE</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ConfigName</name>
          <description>Sanity or Full - The name should be Sanity440LyncConfig.ACDev.tcl or Full440LyncConfig.ACDev.tcl</description>
          <defaultValue>Sanity</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>model</name>
          <description>model :440/430/320/440/405</description>
          <defaultValue>440</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LASTBL</name>
          <description>Example: 3.0.1.53</description>
          <defaultValue>None</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BuildRelease</name>
          <description/>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DelayTime</name>
          <description/>
          <defaultValue>0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ATA_Home</name>
          <description>if [ "$PC2RUN" == "ippSanityTest01" ]; then 
   C:/IpPhoneAutomation/ModifeidIterations/ATA
else
  C:/IpPhoneAutomation/ATA (this is suitable for IGS)

</description>
          <defaultValue>C:/IpPhoneAutomation/ModifeidIterations/ATA</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ServerType</name>
          <description>ServerType == Lync for the lync running 
ServerType==IGS for IGS running 
ServerType ==NonLync for NonLync running (currently non implemented )
</description>
          <defaultValue>Lync</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>PC2RUN</name>
          <description/>
          <allowedSlaves/>
          <defaultSlaves/>
          <triggerIfResult>allowMultiSelectionForConcurrentBuilds</triggerIfResult>
          <allowMultiNodeSelection>true</allowMultiNodeSelection>
          <triggerConcurrentBuilds>true</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FeatureName</name>
          <description>Name of the suite without config name , model , server type and ".suite"
If suite file name is "Sanity450Lync_Calendar.suite" feature name will be "Calendar"</description>
          <defaultValue>basic</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>UserType</name>
          <description>Online/BossAdmin/ExtOrig...</description>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_PARENT</name>
          <description/>
          <defaultValue>0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>1</maxConcurrentPerNode>
      <maxConcurrentTotal>2</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!c:\cygwin\bin\bash  --login -i

echo sleep $DelayTime
sleep $DelayTime

User=$artifactory_user:$artifactory_pass

net use
if ! net use | grep -iqE "OK .* z:.*Firmwares"; then
    echo confige again Z: ----------------------
    net use z: /delete
    net use z: "\\\\10.59.0.87\\Firmwares"
fi

line=$(curl -s http://${COMPUTERNAME}/index.php/status/show.xml | tail -1)
echo $line
cd ${ATA_Home}
tclsh AtaExec.tcl -stop all

ARTIFACTORY=https://artifactory/api/storage/ipp-release/com/ac/ipp/SFB/$BuildRelease

if [ "$BuildRelease" ==  "3.0.1" ]; then BoardsList="440HD 430HD 420HD 405HD C450HD"
else BoardsList="440HD 430HD 405HD C450HD 450HD 445HD "
fi

if [ "$ServerType" == "IGS" ]; then 
  BoardsList="445HD C450HD 450HD"
  # model=445
  ARTIFACTORY=https://artifactory/api/storage/ipp-release/com/ac/ipp/SFB/$BuildRelease
fi

DOWNLOAD=$(echo $ARTIFACTORY | sed 's|api/storage/||')

echo LASTBL: $LASTBL
if [ "$LASTBL" = "None" ]; then
  LASTBL=`curl -ks -u $User -X GET $ARTIFACTORY | grep uri | cut -d'"' -f4 | grep -v https | cut -c 2- | sort -Vr | head -1`
  echo Find: $LASTBL
fi

if [ "$LASTBL" == "" ]; then 
  echo Not find LASTBL - Exit with error
  exit 1
fi

date

for BOARD in $BoardsList; do

  # In case of 445HD_IGS, the image name is without the _IGS
  #imageName=UC$(echo $BOARD | sed 's:_IGS::')_$LASTBL.img
  
  imageName="UC"$BOARD"_"$LASTBL".img"
  buildN=$LASTBL
  if [ "$BuildRelease" == "master" ]||[ "$BuildRelease" == "release/3.4.3" ]; then
  	if [ "$BOARD" == "440HD" ] || [ "$BOARD" == "430HD" ] || [ "$BOARD" == "405HD" ]; then
    	if [ "$ServetType" == "IGS" ]; then 
        	imageName="UC"$BOARD"_"$LASTBL"_IGS.img"
            buildN="${LASTBL}_IGS"
    	else 
        	imageName="UC"$BOARD"_"$LASTBL"_SFB.img"
            buildN="${LASTBL}_SFB"
        fi
    fi
  fi
  echo Searce $ARTIFACTORY/$LASTBL/$BOARD/$imageName...
  
  if curl -ks -u $User -X GET $ARTIFACTORY/$LASTBL/$BOARD | grep -q ${buildN}.img\"; then
    echo -- Check if $imageName exist in z:
    if [ ! -f z:/$imageName ]; then
      echo ----      Download $imageName to z:
      echo curl -ks -u $User -X GET $DOWNLOAD/$LASTBL/$BOARD/$imageName --output z:/$imageName
      curl -ks -u $User -X GET $DOWNLOAD/$LASTBL/$BOARD/$imageName --output z:/$imageName
      
      # checksum the transfered file. If not equel, exit with error and the job will retry after 30 seconds
      checkSum1=$(curl -ks -u $User -X GET \
            $ARTIFACTORY/$LASTBL/$BOARD/$imageName | \
            grep md5 | head -1 | cut -d\" -f4)
      checkSum2=$(md5sum z:/$imageName | cut -d" " -f1)
      echo checksum: $checkSum1 and $checkSum2
      if [ "$checkSum1" != "$checkSum2" ]; then
        echo CheckSum is not equel.. abort
        rm -f z:/$imageName
        exit 1
      fi
      
    else echo ----      $imageName already exist.. skip the download...
    fi
  else
   echo Not exist in Artifactory: $ARTIFACTORY/$LASTBL/$BOARD...
  fi
done

date
# To solve the "Process leaked file descriptors" problem
# Or: BUILD_ID=dontKillMe nohup ./yourStartScript.sh &amp;
# see: https://stackoverflow.com/questions/17024441/process-leaked-file-descriptors-error-on-jenkins
BUILD_ID=dontKillMe
export $BUILD_ID

modelImage=UC${model}HD_${LASTBL}.img
if [ "$BuildRelease" == "master" ]; then
  	if [ "$model" == "440" ] || [ "$model" == "430" ] || [ "$model" == "405" ]; then
    	if [ "$ServetType" == "IGS" ]; then 
        	modelImage=UC${model}HD_${LASTBL}_IGS.img
    	else 
        	modelImage=UC${model}HD_${LASTBL}_SFB.img
        fi
    fi
fi
echo Check if file z:/$modelImage
if [ -f z:/$modelImage ]; then
  echo cd ${ATA_Home}
  cd ${ATA_Home}
  echo tclsh AtaExec.tcl \
  -configName ${ConfigName}${model}${ServerType}${UserType}Config.tcl \
  -suiteName ${ConfigName}${model}${ServerType}_${FeatureName}.suite \
  -firmwareVersionMain $modelImage -rerunFailedAuto 1 -forceUpgrade 1 \
  -jenkinsChildId ${BUILD_NUMBER} -jenkinsParentId ${BUILD_PARENT} 
  
  tclsh AtaExec.tcl \
  -configName ${ConfigName}${model}${ServerType}${UserType}Config.tcl \
  -suiteName ${ConfigName}${model}${ServerType}_${FeatureName}.suite \
  -firmwareVersionMain $modelImage -rerunFailedAuto 1 -forceUpgrade 1 \
  -jenkinsChildId ${BUILD_NUMBER} -jenkinsParentId ${BUILD_PARENT}
fi

exit $?</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher plugin="flexible-publish@0.15.2">
      <publishers>
        <org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
          <condition class="org.jenkins_ci.plugins.run_condition.core.StatusCondition" plugin="run-condition@1.3">
            <worstResult>
              <name>ABORTED</name>
              <ordinal>4</ordinal>
              <color>ABORTED</color>
              <completeBuild>false</completeBuild>
            </worstResult>
            <bestResult>
              <name>ABORTED</name>
              <ordinal>4</ordinal>
              <color>ABORTED</color>
              <completeBuild>false</completeBuild>
            </bestResult>
          </condition>
          <publisherList>
            <org.jenkinsci.plugins.postbuildscript.PostBuildScript plugin="postbuildscript@2.9.1">
              <config>
                <scriptFiles/>
                <groovyScripts/>
                <buildSteps>
                  <org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
                    <results>
                      <string>ABORTED</string>
                    </results>
                    <role>BOTH</role>
                    <executeOn>BOTH</executeOn>
                    <buildSteps>
                      <hudson.tasks.Shell>
                        <command>#!c:\cygwin\bin\bash --login

date
echo PS list
pslist -t

#ID=`grep "session id:" ${WORKSPACE}/${IMAGENAMES}.${PHASE}.txt  | cut -d: -f2`
ID=$(curl -s http://localhost/index.php/status/getSessionId/${REGRESSIONTYPE}${MODEL}${ServerType}_${SUITENAME}.xml | tail -1  | sed 's:.*&lt;Session-Id&gt;::; s:&lt;/Session-Id&gt;.*::')

echo Find $ID

if [ "$ID" == "" ]; then exit 1; fi

cd ${ATA_Home}

echo MESSAGE=Aborted &gt;&gt; $WORKSPACE/properties.txt
echo ID=$ID &gt;&gt; $WORKSPACE/properties.txt
echo CONFIGNAME=${CONFIGNAME} ATA-${ID} &gt;&gt; $WORKSPACE/properties.txt

echo Stop Ata $ID
if [ "$ID" != "NotFound" ]; then
  tclsh AtaExec.tcl -stop $ID
fi
date</command>
                      </hudson.tasks.Shell>
                    </buildSteps>
                  </org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
                </buildSteps>
                <markBuildUnstable>false</markBuildUnstable>
              </config>
            </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
          </publisherList>
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.3"/>
          <executionStrategy class="org.jenkins_ci.plugins.flexible_publish.strategy.FailAtEndExecutionStrategy"/>
        </org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
      </publishers>
    </org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher>
    <com.chikli.hudson.plugin.naginator.NaginatorPublisher plugin="naginator@1.17.2">
      <regexpForRerun>CheckSum is not equel</regexpForRerun>
      <rerunIfUnstable>false</rerunIfUnstable>
      <rerunMatrixPart>false</rerunMatrixPart>
      <checkRegexp>true</checkRegexp>
      <regexpForMatrixStrategy>TestParent</regexpForMatrixStrategy>
      <delay class="com.chikli.hudson.plugin.naginator.FixedDelay">
        <delay>30</delay>
      </delay>
      <maxSchedule>2</maxSchedule>
    </com.chikli.hudson.plugin.naginator.NaginatorPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.19">
      <strategy class="hudson.plugins.build_timeout.impl.NoActivityTimeOutStrategy">
        <timeoutSecondsString>900</timeoutSecondsString>
      </strategy>
      <operationList/>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <EnvInjectBuildWrapper plugin="envinject@2.3.0">
      <info>
        <propertiesContent>artifactory_user=admin</propertiesContent>
        <secureGroovyScript plugin="script-security@1.71">
          <script/>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
    <EnvInjectPasswordWrapper plugin="envinject@2.3.0">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>artifactory_pass</name>
          <value>{AQAAABAAAAAQYtaWY29XdddPmn0t0Tyzi3TpKb7bezInWfFSUDLJKJA=}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@2.1.0">
      <template>#${BUILD_NUMBER} ${ServerType} ${LASTBL} ${PC2RUN}</template>
      <descriptionTemplate/>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>