<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GERRIT_BRANCH</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GERRIT_CHANGE_ID</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GERRIT_PATCHSET_REVISION</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GERRIT_CHANGE_NUMBER</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GERRIT_PATCHSET_NUMBER</name>
          <description>just need that for using only in build name</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>ipp-build</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#list of branches, sort from older to newer
declare -a SFB_branches=(&quot;3.0.1&quot; &quot;3.0.4.GA&quot; &quot;3.1.0&quot; &quot;3.2&quot; &quot;feature/3.2/media_separation&quot; &quot;feature/3.2/device_manager&quot; &quot;feature/3.2/IGS_unified&quot;)
#if the current gerrit branch is the last on the list then exit:
#because there is no need to cherry pick it to anywhere
if [ &quot;${SFB_branches[${#SFB_branches[@]}-1]}&quot; == &quot;${GERRIT_BRANCH}&quot; ]; then exit 0; fi

#some init params
url=&quot;https://gerrit/a/changes/?q=&quot;
vote=1
declare -a missingBranches

#loop the branch list
for i in &quot;${!SFB_branches[@]}&quot;; do
   #find the gerrit branch in list
   if [[ &quot;${SFB_branches[$i]}&quot; = &quot;${GERRIT_BRANCH}&quot; ]]; then
	   echo &quot;***  SFB_branches[$i] is THE current branch  ***&quot;
       index=${i};
       continue;
   else     
   	   echo &quot;***  SFB_branches[$i] is not the current branch  ***&quot;
   fi
   #if gerrit branch was already found, then check if current branch has this change-ID
   if [[ $index ]]; then
      exist=$(curl -k -s --digest --basic -u jenkins:$curl_pass $url$GERRIT_CHANGE_ID |grep -c &quot;\&quot;branch\&quot;: \&quot;${SFB_branches[$i]}\&quot;&quot; || true);
      if [[ &quot;$exist&quot; = &quot;0&quot; ]]; then
        echo &quot;*** Change-ID was not found in branch ${SFB_branches[$i]} ***&quot;
        vote=-1;
        missingBranches+=(&quot;${SFB_branches[$i]}&quot;)
      else
        echo &quot;*** Change-ID does exist in branch ${SFB_branches[$i]} ***&quot;
      fi
   fi
done

echo &quot;*** check was done. need to vote $vote to gerrit  ***&quot;
echo &quot;*** these are the branched without cherry-pick:  ${missingBranches[@]}  ***&quot;

#############################
#reply vote to gerrit label Cherry-Pick + message
if [[ &quot;$vote&quot; = &quot;-1&quot; ]]; then
#	ssh -vvv -p 29418 jenkins@gerrit gerrit review  --project IPP/SFB --message &quot;&apos;missing cherry-pick to branch: ${missingBranches[@]}, please retry when done: $BUILD_URL&apos;&quot;  --label Cherry-Pick=-1 $GERRIT_PATCHSET_REVISION
    curl -k  -u jenkins:$curl_pass --basic -X POST https://gerrit/a/changes/${GERRIT_CHANGE_NUMBER}/revisions/${GERRIT_PATCHSET_REVISION}/review -d &quot;{\&quot;message\&quot;: \&quot;missing cherry-pick to branch: ${missingBranches[@]}, please retry when done: ${BUILD_URL}\&quot;, \&quot;labels\&quot;: {\&quot;Cherry-Pick\&quot;: \&quot;-1\&quot;}}&quot; -H &apos;Content-Type:application/json&apos;	
else
#	ssh -vvv -p 29418 jenkins@gerrit gerrit review  --project IPP/SFB --message &quot;&apos;No missing cherry-pick&apos;&quot; --label Cherry-Pick=1 $GERRIT_PATCHSET_REVISION
    curl -k  -u jenkins:$curl_pass --basic -X POST https://gerrit/a/changes/${GERRIT_CHANGE_NUMBER}/revisions/${GERRIT_PATCHSET_REVISION}/review -d &quot;{\&quot;message\&quot;: \&quot;No missing cherry-pick\&quot;, \&quot;labels\&quot;: {\&quot;Cherry-Pick\&quot;: \&quot;+1\&quot;}}&quot; -H &apos;Content-Type:application/json&apos;
fi


</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.21">
      <recipients>shuky.riechard</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <com.chikli.hudson.plugin.naginator.NaginatorPublisher plugin="naginator@1.17.2">
      <regexpForRerun></regexpForRerun>
      <rerunIfUnstable>true</rerunIfUnstable>
      <rerunMatrixPart>false</rerunMatrixPart>
      <checkRegexp>false</checkRegexp>
      <regexpForMatrixStrategy>TestParent</regexpForMatrixStrategy>
      <delay class="com.chikli.hudson.plugin.naginator.ProgressiveDelay">
        <increment>60</increment>
        <max>600</max>
      </delay>
      <maxSchedule>5</maxSchedule>
    </com.chikli.hudson.plugin.naginator.NaginatorPublisher>
  </publishers>
  <buildWrappers>
    <EnvInjectPasswordWrapper plugin="envinject@2.1.5">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>curl_pass</name>
          <value>{AQAAABAAAAAQQaJNE27KDX2YVtejl0cv8qO+g5xlfhpJUNSXNYB3RZU=}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.9">
      <template>#${BUILD_NUMBER}_branch:${GERRIT_BRANCH}_change#${GERRIT_CHANGE_NUMBER}_${GERRIT_PATCHSET_NUMBER}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>