<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>Wind Li</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw0AtEoIOR2pVABrodMfq1L3E6Dbk1uPWqzhW54UEzn7WViPlD4DPvocx0z+sLcGd+vgrrgUFS+5xbSLjyeIKe4w==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>7d8c49d6-7734-4291-beae-2068e1297a0f</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>b7436fec0980ee062dc0f90058ea25ae4c6bfbccccfb5e24f6eea4fa1b1486fa</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed>
        <string>executors</string>
      </collapsed>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Wind.Li@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>CI_IPP_developers</string>
        <string># ROW employees</string>
        <string>authenticated</string>
        <string>Vopp_Tech_Support_RO</string>
        <string># IPP RnD – SZ</string>
        <string>Password Manager Apply</string>
        <string>AWS_Jira_Users</string>
        <string># Abroad</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string>NewUser_China</string>
        <string># IPP</string>
        <string>AudioCodes_VPN</string>
        <string># IPP RnD</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># IPP Allen SW SZ</string>
        <string>CatalogApps_Everyone</string>
      </roles>
      <timestamp>1541576104677</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>