<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>petrov</id>
  <fullName>Petro Vons</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw3KtVBpaso/gEe1JM41oCex2jmXc2tdw+lYg9UiPBRsDTy/Q4Ib5Cg4g50QZAy8RwgdS8jNvpnjLFTlp9GZOSFw==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>99bfb986-1708-4592-9b1d-537029bda9a3</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>3fdb42c46971e25150bf092ee962946e52c4a6b0699d1edf255fc0d39f5203e7</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed>
        <string>buildQueue</string>
      </collapsed>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>CI_IPP_developers</string>
        <string>SSL_NO_VPN</string>
        <string>authenticated</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string>AWS_Jira_Users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># IPP</string>
        <string>SSL_Ukraine_Chip</string>
        <string># ClearCase R&amp;D</string>
        <string># RnD Israel</string>
        <string># IPP RnD</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>Global Logic</string>
        <string># IPP RnD – GL</string>
        <string>CatalogApps_Everyone</string>
      </roles>
      <timestamp>1573466343603</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Petro.Vons@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>11b4f9c68a0a4e82</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>