<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job go over all the folders in the Artifactory and discard the old version instead of the &quot;Discard old builds&quot; plugin that deosn&apos;t work well in Matrix jobs.&#xd;
Executed periodically every night.&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>20</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>OLD</name>
          <description>Delete all Artifacts OLD of this number of days </description>
          <defaultValue>10</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>sanjer</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 21 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
# Calculate the date we are going to delete
oldThan=$(date +&quot;%Y%m%d&quot; -d &quot;-$OLD days&quot;)
User=admin:$Artifact_pass

# this is a recursive function - check the last modified date, if old or equel to $oldThan than remove this folder from the Artifactory
function RemoveFolder() {

  ((deep+=1))
  local Folder=$1
  # The date format is: YYYYMMDD (Y=the year, M=Month, D=Day  - Example: 8 Jan 2018 should be 20180108
  lastModified=$(curl -ks -u $User -X GET https://$ARTIFACTORY/api/storage/$Folder?lastModified | grep lastModified | cut -d&apos;&quot;&apos; -f4 | cut -dT -f1 | sed s:-::g)
  if [ &quot;$lastModified&quot; == &quot;&quot; ]; 
  then 
  ((deep-=1))
  return 0; 
  fi

  if [ &quot;$lastModified&quot; -le &quot;$oldThan&quot; ]; then
    echo Delete $Folder
    echo ---------------------
    curl -ks -u $User -X DELETE https://$ARTIFACTORY/$Folder
  else
    echo $Folder is not old - check its sub folders
    curl -ks -u $User -X GET https://$ARTIFACTORY/api/storage/$Folder | grep -B 1 -E &apos;folder.*true&apos; | grep uri | cut -d&apos;&quot;&apos; -f4 | while read uri
    do
      echo Execute this function again to check the following directory: ${Folder}$uri
      RemoveFolder ${Folder}$uri;
    done
    if [ $deep -eq 2 ]; then 
      echo Check its files
      curl -ks -u $User -X GET https://$ARTIFACTORY/api/storage/$Folder | grep -B 1 -E &apos;folder.*false&apos; | grep uri | cut -d&apos;&quot;&apos; -f4 | while read uri
      do
        lastModified=$(curl -ks -u $User -X GET https://$ARTIFACTORY/api/storage/${Folder}$uri?lastModified | grep lastModified | cut -d&apos;&quot;&apos; -f4 | cut -dT -f1 | sed s:-::g)
        if [ &quot;$lastModified&quot; -le &quot;$oldThan&quot; ]; then
          echo Delete ${Folder}$uri
          echo ---------------------
          curl -ks -u $User -X DELETE https://$ARTIFACTORY/${Folder}$uri
        fi
      done  
    fi
  fi
  
  ((deep-=1))
}

deep=1
# Ececute for folders in Artifactory
ARTIFACTORY=artifactory
RemoveFolder ipp-review/nonLync
RemoveFolder ipp-review/SFB
RemoveFolder ipp-review/Android
RemoveFolder ems-release/com/ac/ems/ovoc_server/7.4.1000/latest_iso
RemoveFolder ems-release/com/ac/ems/ovoc_server/7.4.2000/latest_iso
RemoveFolder ems-release/com/ac/ems/ovoc_server/7.4.3000/latest_iso
RemoveFolder ems-release/com/ac/ems/ovoc_server/7.6/latest_iso
RemoveFolder ems-release/com/ac/ems/ovoc_server/7.6.1000/latest_iso


# Ececute for folders in test-Artifactory
ARTIFACTORY=test-artifactory
RemoveFolder sbc-review/com/ac/sbc/Firmware
RemoveFolder sbc-review/com/ac/sbc/DRT
RemoveFolder sbc-review/com/ac/sbc/user
RemoveFolder sbc-review/com/ac/sbc/OpenRG
RemoveFolder sbc-review/com/ac/sbc/acLinux
RemoveFolder sbc-review/com/ac/sbc/acLinux2.0
RemoveFolder sbc-review/com/ac/sbc/Hosted02
RemoveFolder sbc-review/com/ac/sbc/HostedBL
RemoveFolder sbc-review/com/ac/sbc/OpenRG-UGW
RemoveFolder sbc-review/com/ac/sbc/acLinux-UGW
#RemoveFolder ems-release/com/ac/ems/ovoc_server/7.4.1000/latest_iso
#RemoveFolder ems-release/com/ac/ems/ovoc_server/7.4.2000/latest_iso
#RemoveFolder ems-release/com/ac/ems/ovoc_server/7.4.3000/latest_iso
#RemoveFolder ems-release/com/ac/ems/ovoc_server/7.6/latest_iso
#RemoveFolder ems-release/com/ac/ems/ovoc_server/7.6.1000/latest_iso</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.21">
      <recipients>shukyr,yossim,ben.magriso</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <EnvInjectPasswordWrapper plugin="envinject@2.1.5">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>Artifact_pass</name>
          <value>{AQAAABAAAAAQsSdkjy9+Zpb43qEPnLls0+/Fa73SCh6KQVLQXyTjnvo=}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
  </buildWrappers>
</project>