<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Shuky Riechard</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>Mk5qP+SfK4wCx7Fb9BX+l3yH+LVToKa/c9jRwthBFmgQV7WSh2DA10Lq4g4XcOmq</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.26">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.41.3">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed>
        <string>buildQueue</string>
      </collapsed>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># R&amp;D HDGW SYSTEM</string>
        <string>Users</string>
        <string>AudioCodes_VPN</string>
        <string>ARM-FC</string>
        <string>Domain Users</string>
        <string># R&amp;D HDGW GROUP</string>
        <string># ClearCase R&amp;D</string>
        <string># R&amp;D ARM</string>
        <string># Agile users</string>
        <string>Sp365-Devops-Read</string>
        <string>Password Manager Apply</string>
        <string>CI_ARM_developers</string>
        <string>ActionBase Users</string>
        <string># All Airport City</string>
        <string># All R&amp;D</string>
        <string># R&amp;D HDGW SYSTEM QA</string>
        <string>TG1000</string>
        <string>cc_users</string>
        <string>Mailvision Branch Office Users</string>
        <string>Sp365-DevOps-modify</string>
        <string>Logistics_maintenance</string>
        <string>CI_admins</string>
        <string>CI_ARM_admins</string>
        <string>CatalogApps_Everyone</string>
        <string># All AudioCodes</string>
        <string>Offer Remote Assistance Helpers</string>
        <string># All Cars</string>
        <string>authenticated</string>
        <string>DevOps</string>
        <string># R&amp;D Israel</string>
        <string># R&amp;D Solutions SW group</string>
        <string>Certificate Service DCOM Access</string>
        <string># All 012 voip</string>
        <string># Gym</string>
        <string>Agile users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>#All Breakfast</string>
        <string># All ISRAEL</string>
      </roles>
      <timestamp>1465450888111</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.16">
      <emailAddress>Shuky.Riechard@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>