<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>Idan Kahlon</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwyKIug/pf6UWa3U774TZ+SamMKnHeQfgbgsW5UOURTqmdWurw5ZzosNdgHhnrk72SFywn+t1TGpHeRhnrWGzNqA==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>12a1eeb1-2c73-4fd7-b6fc-93064cca35da</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>1b5b48d812391601d226c9fb2dfb5f766355f34217cf3927c890b9028eb599aa</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>CI_IPP_developers</string>
        <string>authenticated</string>
        <string>Password Manager Apply</string>
        <string>AWS_Jira_Users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string>SSL_TandemG</string>
        <string># IPP RnD – Israel</string>
        <string># IPP</string>
        <string>Allow Office365 Groups</string>
        <string># IPP RnD</string>
        <string># IPP TandemG</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>IppSwReleases</string>
        <string>CatalogApps_Everyone</string>
      </roles>
      <timestamp>1545640241233</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Idan.Kahlon@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
  </properties>
</user>