<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>FROM_DATE</name>
          <description></description>
          <defaultValue>2018-03-01</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TO_DATE</name>
          <description></description>
          <defaultValue>2018-04-01</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>PROJECT_NAME</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>IPP/SFB</string>
              <string>IPP/non_lync</string>
              <string>TP/GWApp</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@2.1.16">
          <name>credentials</name>
          <description></description>
          <defaultValue>df9bd014-71c4-4f0e-8177-456e451a86c0</defaultValue>
          <credentialType>com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey</credentialType>
          <required>true</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>sanjer</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
if [ &quot;$PROJECT_NAME&quot; == &quot;TP/GWApp&quot; ]
then
SERVER=benm@test-gerrit
else
SERVER=benm@gerrit
fi
PORT=29418

TodayDate=$(date +&quot;%Y%m%d&quot;)
fromDate=$(date -d $FROM_DATE +&quot;%Y%m%d&quot;)
toDate=$(date -d $TO_DATE +&quot;%Y%m%d&quot;)

if [ $fromDate -le $toDate ]
then

	if [ $toDate -le $TodayDate ]
	then

    jsonFile=$(ssh -p $PORT $SERVER gerrit query --format=JSON project:$PROJECT_NAME before:$TO_DATE after:$FROM_DATE --patch-sets)
    patchSetArray=( $(echo &quot;$jsonFile&quot; | jq &apos;.patchSets | length&apos;) )
    
    jsonFileMerged=$(ssh -p $PORT $SERVER gerrit query --format=JSON status:Merged project:$PROJECT_NAME before:$TO_DATE after:$FROM_DATE)
    MergedArray=( $(echo &quot;$jsonFileMerged&quot; | jq &apos;.rowCount  | length&apos;) )
    
    echo &quot;the amount of PatchSets to the project $PROJECT_NAME between $TO_DATE  to $FROM_DATE are &quot;
    printf &apos;%s\n&apos; &quot;${patchSetArray[@]}&quot; | awk &apos;{sum+=$1};END{print sum}&apos;

	echo &quot;The amount of Issues that merged to the project $PROJECT_NAME between $TO_DATE  to $FROM_DATE are &quot;
	printf &apos;%s\n&apos; &quot;${MergedArray[@]}&quot; | awk &apos;{sum1+=$1};END{print sum1}&apos;

	else
	echo &quot;*************************************************&quot;
	echo &quot;WRONG DATE  need to be smaller then Today&apos;s Date&quot;
	echo &quot;*************************************************&quot;
	fi

else
echo &quot;******************************************&quot;
echo &quot;FROM_DATE need to be smaller then TO_DATE&quot;
echo &quot;******************************************&quot;
fi
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>