<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>ostaph</id>
  <fullName>Ostap Hembara</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw4kl8oyneLNdXm+7Nxp158Q4mX16D7E0o20Md1vmNyvFAKnmoTsVZvwEZe/+ZC7kt6CUQDoQtGoW3YnhhyDjcag==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>b374ec4a-1b5d-42be-8a7e-2913c7fea8db</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>2bdcbe8daa2391626cc88b78f245a423a9df3f1386e470f5c8a01e2c083f904e</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>Ostap.Hembara@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>SSL_NO_VPN</string>
        <string>authenticated</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string>AWS_Jira_Users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># IPP</string>
        <string>SSL_Ukraine_Chip</string>
        <string># ClearCase R&amp;D</string>
        <string># RnD Israel</string>
        <string># IPP RnD</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># IPP RnD – GL</string>
        <string>CatalogApps_Everyone</string>
      </roles>
      <timestamp>1573120630355</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>006f0ae8d22fcd99</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>