<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>andriig</id>
  <fullName>Andrii Gladets</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwfK985zMqVqJF4gL6qqKIsfvYHFz0yV5L0xlFEsc96Swa9RvxdQEvxgAf1iwNsadE6sF8NyPETCUZFHU9uz0XhQ==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>b94c83e0-5bda-4eee-b8c3-e77c8d34d7ae</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>ddd28bf57c3f2283ef2e9ccf4943f684ef443c5d4f5d449a825db5065ba40e0b</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.62">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>AWS_Jira_Users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>Palo_Amazon_RnD_Users_Access</string>
        <string>SSL_Ukraine_Chip</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string>Global Logic</string>
        <string># IPP RnD – GL</string>
        <string>CatalogApps_Everyone</string>
        <string>CI_IPP_developers</string>
        <string>SSL_NO_VPN</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># IPP</string>
        <string>Linuxusers</string>
        <string># RnD Israel</string>
        <string># IPP RnD</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>IppSwReleases</string>
      </roles>
      <timestamp>1573826706341</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>andrii.gladets@globallogic.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>cde4587b1ebcacd3</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>