<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Andrii Stas</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>F0uJB2jHXijE0g9s/0+LLgR27Ujgq11GR6yZRQ8Ee4EQV7WSh2DA10Lq4g4XcOmq</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.15">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.26">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.16">
      <emailAddress>Andrii.Stas@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.41.3">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>SSL_NO_VPN</string>
        <string>authenticated</string>
        <string>Password Manager Apply</string>
        <string>SSL_Ukraine_Chip</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string>CatalogApps_Everyone</string>
      </roles>
      <timestamp>1499771093196</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys>ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAqGt6lwniSHK41sP2zdJmSprCD8nADF6AcU0dYXPz1CVkKe0/vnglt8jKVzGe51uN7xhNkVjLWqa1MZ7Di42k0WzuAerCltBlk94kmiZrQ/XD0MYXByeHkGWJXabduBnMvd4+XOCuxC4lYhj7Or/k0VX1NLwKQ1eDK1mW8k1OxHSCF4esgD0A25/MC9D4Bf+K49w3pn/IXu4iSSLSWKulS1ONLmf63mQc0UpjUQiao6G+R3ShXSM/FWUQ6+zBmtL2rZ72L+GkF/X5WjAmhtgqgHUiM5o2zTazDwfzc0u0qr5QGuKh0Y9pw5UVQW4zbNNT0zJ1p+O2vV1mQd+K8HQbWQ== user@localhost.localdomain</authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>